<div class="row">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" role="form">
        <div (click)="isCollapsed = !isCollapsed" class="filter-header p-2">
            <span class="filter-title"><i class="fa fa-search me-2"></i>Advanced Search Filters</span>
            <a [attr.aria-expanded]="!isCollapsed" aria-controls="collapseFilter" style="float:right">
                <i class="fa fa-search" [ngClass]="{'fa-chevron-down': !isCollapsed, 'fa-chevron-up': isCollapsed}"></i>
            </a>
        </div>
        <div id="collapseFilter" [ngbCollapse]="!isCollapsed">
            <div class="filter-content">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Select Day</mat-label>
                            <mat-select formControlName="dayId">
                                <mat-option *ngFor="let day of weekDays" [value]="day.id">
                                    {{ day.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="form-group mb-0 d-flex align-items-center ">
                            <button class="mb-2 me-2 btn-icon btn-shadow  btn btn-primary"
                                [ngClass]="{'m-loader m-loader--right m-loader--info': loading}" type="submit"
                                [disabled]="!form.valid">
                                <i class="fa fa-search"></i> Search
                            </button>
                            <button class="mb-2 mr-2 btn-icon btn-shadow  btn btn-outline-danger" type="reset"
                                (click)="resetTable()">
                                <i class="fa fa-close"></i> Reset
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row mb-2">
    <div class="colxl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-end align-items-center" style="margin-top: 10px;">
      <!-- <button
        class="btn-icon-only btn-shadow btn btn-primary me-2"
        [disabled]="selectedRows.selected.length === 0"
        (click)="deleteSelectedClassrooms()"
      >
        Delete Selected Doctor Time
      </button>
   -->
      <button
        class="btn-icon-only btn-shadow btn btn-primary"
        (click)="AddEdit()"
        title="Add New"
      >
        <i class="fa fa-plus"></i> <span>Add New</span>
      </button>
    </div>
  </div>
  
  
  <div class="material striped table-container">
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  
    <!-- Scrollable Table Wrapper -->
    <div class="table-wrapper">
      <table class="striped-table" mat-table [dataSource]="dataSource" matSort (matSortChange)="onSort($event)">
        <!-- <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selectedRows.hasValue() && isAllSelected()" [indeterminate]="selectedRows.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectedRows.toggle(row) : null" [checked]="selectedRows.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container> -->
  
        <ng-container matColumnDef="sn.">
          <th mat-header-cell *matHeaderCellDef>#.</th>
          <td mat-cell *matCellDef="let medicineType">{{medicineType.serialNo}}</td>
        </ng-container>
  
        <ng-container matColumnDef="status" prop="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let medicineType">
            <mat-slide-toggle [disabled]="loading" [checked]="medicineType.status == 1" (change)="updateStatus($event.checked, medicineType)">
              <i class="fa fa-spinner fa-pulse" *ngIf="loading"></i>
            </mat-slide-toggle>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let doctoravailability">
            <button mat-icon-button class="action-button" color="primary" (click)="ViewDoctorAvailability(doctoravailability.availabilityId)" matTooltip="View">
              <mat-icon>visibility</mat-icon> <!-- Eye icon -->
            </button>
            <button mat-icon-button color="primary" *ngIf="doctoravailability.status == 1" (click)="AddEdit(doctoravailability.availabilityId)" matTooltip="Edit">
              <mat-icon>edit</mat-icon> <!-- Edit icon -->
            </button>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="doctorName">
          <th mat-header-cell *matHeaderCellDef>Doctor Name</th>
          <td mat-cell *matCellDef="let doctoravailability">{{doctoravailability.doctorName}}</td>
        </ng-container>
  
        <ng-container matColumnDef="dayName">
          <th mat-header-cell *matHeaderCellDef>Day Name</th>
          <td mat-cell *matCellDef="let doctoravailability">{{doctoravailability.dayName}}</td>
        </ng-container>
  
        <ng-container matColumnDef="appointmentDurationMinutes">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Appointment Duration</th>
          <td mat-cell *matCellDef="let doctoravailability">{{doctoravailability.appointmentDurationMinutes}}</td>
        </ng-container>
  
        <ng-container matColumnDef="doctorTimeSlots">
          <th mat-header-cell *matHeaderCellDef>Time Slots</th>
          <td mat-cell *matCellDef="let doctoravailability">{{ getFormattedTimeSlots(doctoravailability?.doctorTimeSlots) }}</td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let doctoravailability; columns: displayedColumns;"></tr>
  
        <tr class="mat-row" *matNoDataRow>
          <td style="text-align: center;" class="mat-cell" [attr.colspan]="displayedColumns.length">
            No data found.
          </td>
        </tr>
      </table>
    </div>
  
    <mat-paginator [length]="count" (page)="onPaginate($event)" [pageSize]="tableParams.limit" showFirstLastButtons [pageSizeOptions]="[5,10,25,50, 100]"></mat-paginator>
  </div>
  
