<form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
  <div class="d-flex flex-wrap align-items-center">
    <mat-form-field
      appearance="outline"
      class="me-3 rormFieldMArginRight"
      *ngIf="students"
    >
      <mat-label class="mat-label">{{ "Students" | translate }}</mat-label>
      <mat-select
        required
        (selectionChange)="loadAccounts($event.value)"
        formControlName="studentId"
      >
        <mat-option value="one">{{ "Select Account" | translate }}</mat-option>
        <mat-option *ngFor="let student of students" [value]="student.id">
          {{ student.firstName }} {{ student.lastName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
      <mat-label class="mat-label">{{ "Accounts" | translate }}</mat-label>
      <mat-select required formControlName="accountId">
        <mat-option value="none">{{ "Select Account" | translate }}</mat-option>
        <mat-option *ngIf="account" [value]="account.id">
          {{ account.gradeName }} - {{ account.schoolYearPeriod }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
      <mat-label class="mat-label">{{
        "Receipt Number" | translate
      }}</mat-label>
      <input matInput formControlName="paperRecptNumber" required />
      <mat-error
        *ngIf="
          studentForm.get('paperRecptNumber')?.invalid &&
          studentForm.get('paperRecptNumber')?.touched
        "
      >
        {{ "Receipt number is required" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
      <mat-label class="mat-label">{{ "Payment Date" | translate }}</mat-label>
      <input matInput formControlName="paymentDate" [attr.disabled]="true" />
      <!-- Disabled input -->
      <mat-error
        *ngIf="
          studentForm.get('paymentDate')?.invalid &&
          studentForm.get('paymentDate')?.touched
        "
      >
        {{ "Payment date is required" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
      <mat-label class="mat-label">{{ "Amount" | translate }}</mat-label>
      <input matInput type="number" formControlName="amount"  min="0" required />
      <mat-error
        *ngIf="
          studentForm.get('amount')?.invalid &&
          studentForm.get('amount')?.touched
        "
      >
        {{ "Valid amount is required" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
      <mat-label class="mat-label">{{ "Currency" | translate }}</mat-label>
      <mat-select formControlName="currency" required>
        <mat-option *ngFor="let currency of currencies" [value]="currency.code">
          {{ currency.name }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="
          studentForm.get('currency')?.invalid &&
          studentForm.get('currency')?.touched
        "
      >
        {{ "Currency is required" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
      <mat-label class="mat-label">{{ "Payee Name" | translate }}</mat-label>
      <input matInput formControlName="payeeName" required />
      <mat-error
        *ngIf="
          studentForm.get('payeeName')?.invalid &&
          studentForm.get('payeeName')?.touched
        "
      >
        {{ "Payee name is required" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
      <mat-label class="mat-label">{{ "Payee Number" | translate }}</mat-label>
      <input matInput formControlName="payeeNumber" required />
      <mat-error
        *ngIf="
          studentForm.get('payeeNumber')?.invalid &&
          studentForm.get('payeeNumber')?.touched
        "
      >
        {{ "A valid 10-digit payee number is required" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
      <mat-label class="mat-label">{{ "Received By" | translate }}</mat-label>
      <input
        matInput
        formControlName="receivedBy"
        required
        [attr.disabled]="true"
      />
      <mat-error
        *ngIf="
          studentForm.get('receivedBy')?.invalid &&
          studentForm.get('receivedBy')?.touched
        "
      >
        {{ "Receiver is required" | translate }}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="row textarea-left-right-margin">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ "Notes" | translate }}</mat-label>
      <textarea
        matInput
        formControlName="notes"
        placeholder="{{ 'Enter notes' | translate }}"
        rows="3"
      ></textarea>
    </mat-form-field>
  </div>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="studentForm.invalid"
  >
    {{ "Submit" | translate }}
  </button>
</form>
