.card-heading-text-color {
  padding-bottom: 20px;
  color: whitesmoke;
  background: #75787c;
}
.gradebookWidth{
  width: 364px ;
  margin-left: 13px;
}
.text-left {
  text-align: left;
}
.gradeview-text-color{
  color:whitesmoke !important
}



.gradebook-container {
  width: 100%;
  max-width: 753px;
  /* margin: 20px auto; */
  /* padding: 20px; */
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.gradebook-header {
  display: flex;
  justify-content: space-between;  /* Distribute space between left and right content */
  align-items: center;
  background-color: #acadaf;; /* Primary Material color */
  color: #ffffff;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.student-info {
  display: flex;
  flex-direction: column;
}

.student-name {
  font-size: 18px;
  font-weight: 600;
}

.course-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 400;
}

.gradebook-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.details-item {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5; /* Light gray background */
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.details-item span {
  font-weight: 400;
  color: #333;
}

.actions {
  text-align: center;
}

.btn-view-course {
  background-color: #acadaf; /* Primary Material color */
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 4px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.btn-view-course:hover {
  background-color: #2c387e; /* Darker shade of primary color */
  transition: background-color 0.2s ease-in-out;
}
