<mat-card class="course-app cardWithShadow">
  <mat-card-content class="p-24">
    <div class="row justify-content-between">
      <div class="col-lg-4">
        <mat-form-field
          appearance="outline"
          class="w-100 hide-hint"
          color="primary"
        >
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="{{ 'SEARCH_HERE' | translate }}"
          />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="row">
  <div *ngFor="let course of filteredCourses" class="col-sm-6 col-lg-4">
    <mat-card class="cardWithShadow overflow-hidden">
      <mat-card-header
        class="course-header bg-primary d-flex justify-content-between card-heading-text-color"
      >
        <mat-card-title class="m-b-0 f-s-16">{{
          course.subjectCategory | translate
        }}</mat-card-title>
        <span class="d-flex align-items-center gap-4">
          <i-tabler name="chalkboard" class="icon-16 d-flex"></i-tabler
          >{{ "Course" | translate }}
        </span>
      </mat-card-header>
      <mat-card-content class="text-center p-y-24">
        <h3 class="m-b-10 mat-subtitle-2 f-s-16 f-w-600 text-dark">
          {{ course.subjectLabel }}
        </h3>
        <span class="mat-body-1">{{ course.subjectDescription }}</span>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions class="text-center p-y-8">
        <a
          mat-button
          [routerLink]="[
            '/parent/coursehome/',
            studentId,
            course.classRoomId,
            course.subjectId
          ]"
          class="w-100 btn btn-primary"
        >
          {{ "View Course" | translate }}
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div class="gradebook-container">
  <div class="gradebook-header">
    <div class="student-info">
      <span class="student-name">
        {{ studentGradesData.firstName }} {{ studentGradesData.lastName }}
      </span>
    </div>
    <div class="course-title">
      <i-tabler name="book" class="icon-16"></i-tabler>
      {{ "Grade Book" | translate }}
    </div>
  </div>
  

  <div class="gradebook-details">
    <div class="details-item">
      <strong>{{ "Class Name" | translate }}:</strong>
      <span>{{ studentGradesData.className }}</span>
    </div>
    <div class="details-item">
      <strong>{{ "Earned Score" | translate }}:</strong>
      <span>{{ studentGradesData.totalPointsEarned }}/{{ studentGradesData.totalPossiblePoints }}</span>
    </div>
    <div class="details-item">
      <strong>{{ "Grade" | translate }}:</strong>
      <span>{{ studentGradesData.averageLetterGrade }}</span>
    </div>
  </div>

  <div class="actions">
    <a
      mat-button
      [routerLink]="['/parent/coursehome', studentId]"
      [queryParams]="{ tab: 'gradeBook' }"
      class="btn-view-course"
    >
      {{ "View Grade" | translate }}
    </a>
  </div>
</div>


<ng-template #noCourses>
  <p class="text-center">{{ "NO_COURSES_FOUND" | translate }}</p>
</ng-template>
