<div *ngIf="isLoading" class="loading-spinner-overlay">
    <mat-spinner></mat-spinner>
</div>
<mat-card class="cardWithShadow">
    <mat-card-content class="p-0">
      <mat-tab-group  [(selectedIndex)]="selectedIndex"
        mat-stretch-tabs="false"
        animationDuration="0ms"
        class="theme-tab label-padding"
      >
        <mat-tab label="Profile">
            <form [formGroup]="UserForm"  class="employee-form">
                <ng-template mat-tab-label>
                    <div class="d-flex align-items-center">
                        <mat-icon>
                            <i-tabler name="user-circle" class="icon-20 m-r-8"></i-tabler>
                        </mat-icon>
                    </div>
                    {{'Profile' | translate}}
                </ng-template>
                <mat-card-content>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="b-1 rounded p-30 same-height">
                                <mat-card-title>{{'Change Profile' | translate}}</mat-card-title>
                                <mat-card-subtitle class="mat-body-1">{{'Change your profile picture from here' | translate}}</mat-card-subtitle>
                                <div class="text-center m-t-24">
                                    <img [src]=profilePicture class="rounded-circle" width="120" />
                                    <div class="m-t-24">
                                        <button mat-flat-button color="primary" class="m-r-8">
                                          {{'Upload' | translate}}
                                            <input 
                                            type="file" 
                                            accept="image/*" 
                                            class="file-input" 
                                            (change)="onFileSelected($event)" 
                                          />
                                        </button>
                                        <button mat-stroked-button (click)="resetPicture()" color="warn">{{'Reset' | translate}}</button>
                                    </div>
                                    <span class="f-s-14 m-t-24 d-block">{{'Allowed JPG, GIF or PNG. Max size of 800K' | translate}}</span>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                            <div class="p-30 b-1 rounded same-height">
                                <!-- input -->
                                <mat-label class="f-w-600 m-b-8 d-block">{{'First Name' | translate}}</mat-label>
                                <mat-form-field appearance="outline" class="w-100" color="primary">
                                    <input matInput formControlName="firstName" />
                                </mat-form-field>
                                <!-- input -->
                                <mat-label class="f-w-600 m-b-8 d-block">{{'Last Name' | translate}}</mat-label>
                                <mat-form-field appearance="outline" class="w-100" color="primary">
                                    <input matInput formControlName="lastName" />
                                </mat-form-field>
                                 <!-- old password -->
                                 <mat-label class="f-w-600 m-b-8 d-block">{{'oldPassword' | translate}}</mat-label>
                                 <mat-form-field appearance="outline" class="w-100 hide-hint" color="primary">
                                   <input
                                     matInput
                                     [type]="hidePassword ? 'password' : 'text'"
                                     formControlName="oldPassword"
                                     required
                                   />
                                   <span matTextPrefix><mat-icon>{{'key' | translate}}</mat-icon>&nbsp;&nbsp;</span>
                                   <button
                                     mat-icon-button
                                     matSuffix
                                     (click)="hidePassword = !hidePassword"
                                     aria-label="Hide password"
                                   >
                                     <mat-icon>{{
                                       hidePassword ? "visibility_off" : "visibility"
                                     }}</mat-icon>
                                   </button>
                                   <mat-error
                                     *ngIf="
                                     UserForm.get('oldPassword')?.invalid &&
                                     UserForm.get('oldPassword')?.touched
                                     "
                                   >
                                     <ng-container
                                       *ngFor="let validation of validationMessages.password"
                                     >
                                       <span
                                         class="form-control-feedback"
                                         *ngIf="
                                         UserForm.get('oldPassword')?.hasError(validation.type)
                                         "
                                       >
                                         {{ validation.message }}
                                       </span>
                                     </ng-container>
                                   </mat-error>
                                     
                                 </mat-form-field>
                                <!-- new pswword -->
                                <mat-label class="f-w-600 m-b-8 d-block">{{'newPassword' | translate}}</mat-label>
                                <mat-form-field appearance="outline" class="w-100 hide-hint" color="primary">
                                  <input
                                    matInput
                                    [type]="hidePassword ? 'password' : 'text'"
                                    formControlName="newPassword"
                                    required
                                  />
                                  <span matTextPrefix><mat-icon>{{'key' | translate}}</mat-icon>&nbsp;&nbsp;</span>
                                  <button
                                    mat-icon-button
                                    matSuffix
                                    (click)="hidePassword = !hidePassword"
                                    aria-label="Hide password"
                                  >
                                    <mat-icon>{{
                                      hidePassword ? "visibility_off" : "visibility"
                                    }}</mat-icon>
                                  </button>
                                  <mat-error
                                    *ngIf="
                                    UserForm.get('newPassword')?.invalid &&
                                    UserForm.get('newPassword')?.touched
                                    "
                                  >
                                    <ng-container
                                      *ngFor="let validation of validationMessages.password"
                                    >
                                      <span
                                        class="form-control-feedback"
                                        *ngIf="
                                        UserForm.get('newPassword')?.hasError(validation.type)
                                        "
                                      >
                                        {{ validation.message }}
                                      </span>
                                    </ng-container>
                                  </mat-error>
                                    
                                </mat-form-field>
                                <!-- confirm password -->
                                <mat-label class="f-w-600 m-b-8 d-block">{{'Confirm Password' | translate}}</mat-label>
                                <mat-form-field appearance="outline" class="w-100 hide-hint" color="primary">
                                  <input
                                    matInput
                                    [type]="hidePassword ? 'password' : 'text'"
                                    formControlName="confirmNewPassword"
                                    required
                                  />
                                  <span matTextPrefix><mat-icon>{{'key' | translate}}</mat-icon>&nbsp;&nbsp;</span>
                                  <button
                                    mat-icon-button
                                    matSuffix
                                    (click)="hidePassword = !hidePassword"
                                    aria-label="Hide password"
                                  >
                                    <mat-icon>{{
                                      hidePassword ? "visibility_off" : "visibility"
                                    }}</mat-icon>
                                  </button>
                                  <mat-error
                                    *ngIf="
                                    UserForm.get('confirmNewPassword')?.invalid &&
                                    UserForm.get('confirmNewPassword')?.touched
                                    "
                                  >
                                    <ng-container
                                      *ngFor="let validation of validationMessages.value"
                                    >
                                      <span
                                        class="form-control-feedback"
                                        *ngIf="UserForm.get('confirmNewPassword')?.hasError(validation.type) && UserForm.controls['confirmNewPassword'].errors?.['passwordMismatch']"
                                      >
                                        {{ validation.message }}
                                      </span>
                                    </ng-container>
                                  </mat-error>
                                </mat-form-field>
    
    
                            </div>
                        </div>
                        <div class="col-12 classMarginTop">
                            <div class="b-1 rounded p-30">
                                <div class="row m-t-24">
                                    <div class="col-sm-6" >
                                        <!-- input -->
                                        <mat-label class="f-w-600 m-b-8 d-block">{{'EmailorPhoneNumber' | translate}}</mat-label>
                                        <mat-form-field appearance="outline" class="w-100" color="primary">
                                            <input matInput  type="text" formControlName="emailorPhoneNumber"/>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6">
                                        <!-- input -->
                                        <mat-label class="f-w-600 m-b-8 d-block">{{'Phone Number' | translate}}</mat-label>
                                        <mat-form-field appearance="outline" class="w-100" color="primary">
                                            <input matInput type="text" formControlName="phoneNumber" />
                                        </mat-form-field>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </form>
        </mat-tab>
        <mat-tab label="Subscription">
          <ng-template mat-tab-label>
            <div class="d-flex align-items-center">
              <mat-icon>
                <i-tabler name="bell" class="icon-20 m-r-8"></i-tabler>
              </mat-icon>
            </div>
            {{"Notifications" | translate}}
          </ng-template>
          <mat-card-content>
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <div class="b-1 p-30 rounded">
                  <mat-card-title>Notification Preferences</mat-card-title>
                  <mat-card-subtitle class="mat-body-1"
                    >Select the notificaitons ou would like to receive via email.
                    Please note that you cannot opt out of receving service
                    messages, such as payment, security or legal
                    notifications.</mat-card-subtitle
                  >
  
                  <!-- input -->
                  <mat-label class="f-w-600 m-b-8 d-block m-t-24"
                    >Email Address*</mat-label
                  >
                  <mat-form-field
                    appearance="outline"
                    class="w-100"
                    color="primary"
                  >
                    <input matInput type="email" />
                    <mat-hint> Required for notificaitons.</mat-hint>
                  </mat-form-field>
  
                  <div class="d-flex align-items-center m-t-24">
                    <button
                      mat-mini-fab
                      class="bg-light-primary shadow-none rounded icon-48"
                    >
                      <i-tabler
                        name="article"
                        class="icon-20 d-flex text-primary"
                      ></i-tabler>
                    </button>
                    <div class="m-l-16 w-100">
                      <h5 class="f-s-16 f-w-600 m-0 m-b-4">Our newsletter</h5>
                      <div
                        class="d-flex align-items-center justify-content-center w-100"
                      >
                        <span class="f-s-14"
                          >We'll always let you know about important changes</span
                        >
                        <mat-slide-toggle class="m-l-auto"></mat-slide-toggle>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center m-t-24">
                    <button
                      mat-mini-fab
                      class="bg-light-primary shadow-none rounded icon-48"
                    >
                      <i-tabler
                        name="checkbox"
                        class="icon-20 d-flex text-primary"
                      ></i-tabler>
                    </button>
                    <div class="m-l-16 w-100">
                      <h5 class="f-s-16 f-w-600 m-0 m-b-4">Order Confirmation</h5>
                      <div
                        class="d-flex align-items-center justify-content-center w-100"
                      >
                        <span class="f-s-14"
                          >You will be notified when customer order any
                          product</span
                        >
                        <mat-slide-toggle class="m-l-auto"></mat-slide-toggle>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center m-t-24">
                    <button
                      mat-mini-fab
                      class="bg-light-primary shadow-none rounded icon-48"
                    >
                      <i-tabler
                        name="clock"
                        class="icon-20 d-flex text-primary"
                      ></i-tabler>
                    </button>
                    <div class="m-l-16 w-100">
                      <h5 class="f-s-16 f-w-600 m-0 m-b-4">
                        Order Status Changed
                      </h5>
                      <div
                        class="d-flex align-items-center justify-content-center w-100"
                      >
                        <span class="f-s-14"
                          >You will be notified when customer make changes to the
                          order</span
                        >
                        <mat-slide-toggle class="m-l-auto"></mat-slide-toggle>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center m-t-24">
                    <button
                      mat-mini-fab
                      class="bg-light-primary shadow-none rounded icon-48"
                    >
                      <i-tabler
                        name="truck-delivery"
                        class="icon-20 d-flex text-primary"
                      ></i-tabler>
                    </button>
                    <div class="m-l-16 w-100">
                      <h5 class="f-s-16 f-w-600 m-0 m-b-4">Order Delivered</h5>
                      <div
                        class="d-flex align-items-center justify-content-center w-100"
                      >
                        <span class="f-s-14"
                          >You will be notified once the order is delivered</span
                        >
                        <mat-slide-toggle class="m-l-auto"></mat-slide-toggle>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center m-t-24">
                    <button
                      mat-mini-fab
                      class="bg-light-primary shadow-none rounded icon-48"
                    >
                      <i-tabler
                        name="mail"
                        class="icon-20 d-flex text-primary"
                      ></i-tabler>
                    </button>
                    <div class="m-l-16 w-100">
                      <h5 class="f-s-16 f-w-600 m-0 m-b-4">Email Notification</h5>
                      <div
                        class="d-flex align-items-center justify-content-center w-100"
                      >
                        <span class="f-s-14"
                          >Turn on email notificaiton to get updates through
                          email</span
                        >
                        <mat-slide-toggle class="m-l-auto"></mat-slide-toggle>
                      </div>
                    </div>
                  </div>
  
                  <!-- 2 -->
                  <mat-card-title class="m-t-30">Date & Time</mat-card-title>
                  <mat-card-subtitle class="mat-body-1"
                    >Time zones and calendar display settings.</mat-card-subtitle
                  >
  
                  <div class="d-flex align-items-center m-t-24">
                    <button
                      mat-mini-fab
                      class="bg-light-primary shadow-none rounded icon-48"
                    >
                      <i-tabler
                        name="clock"
                        class="icon-20 d-flex text-primary"
                      ></i-tabler>
                    </button>
                    <div class="m-l-16 w-100">
                      <span class="f-s-14 d-block m-b-4">Time zone</span>
                      <h5 class="f-s-16 f-w-600 m-0 m-b-4">
                        (UTC + 02:00) Athens, Bucharet
                      </h5>
                    </div>
                    <span class="m-l-auto">
                      <i-tabler name="download" class="icon-20"></i-tabler>
                    </span>
                  </div>
  
                  <!-- 3 -->
                  <mat-card-title class="m-t-30">Ignore Tracking</mat-card-title>
  
                  <div class="d-flex align-items-center m-t-24">
                    <button
                      mat-mini-fab
                      class="bg-light-primary shadow-none rounded icon-48"
                    >
                      <i-tabler
                        name="clock"
                        class="icon-20 d-flex text-primary"
                      ></i-tabler>
                    </button>
                    <div class="m-l-16 w-100">
                      <h5 class="f-s-16 f-w-600 m-0 m-b-4">
                        Ignore Browser Tracking
                      </h5>
                      <span class="f-s-14">Browser Cookie</span>
                    </div>
                    <mat-slide-toggle class="m-l-auto"></mat-slide-toggle>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-tab>
        <mat-tab   *ngIf="isAdminOrSuperAdmin()">
          <ng-template mat-tab-label>
            <div class="d-flex align-items-center">
              <mat-icon>
                <i-tabler name="receipt" class="icon-20 m-r-8"></i-tabler>
              </mat-icon>
            </div>
            {{"Bills" | translate}}
          </ng-template>
          <mat-card-content>
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <div class="b-1 rounded p-30">
                  <mat-card-title class="m-b-24"
                    >Billing Information</mat-card-title
                  >
  
                  <div class="row">
                    <div class="col-sm-6">
                      <!-- input -->
                      <mat-label class="f-w-600 m-b-8 d-block"
                        >Business Name*</mat-label
                      >
                      <mat-form-field
                        appearance="outline"
                        class="w-100"
                        color="primary"
                      >
                        <input matInput type="text" value="Visitor Analytics" />
                      </mat-form-field>
                      <!-- input -->
                      <mat-label class="f-w-600 m-b-8 d-block"
                        >Business Address*</mat-label
                      >
                      <mat-form-field
                        appearance="outline"
                        class="w-100"
                        color="primary"
                      >
                        <input matInput type="text" />
                      </mat-form-field>
                      <!-- input -->
                      <mat-label class="f-w-600 m-b-8 d-block"
                        >First Name*</mat-label
                      >
                      <mat-form-field
                        appearance="outline"
                        class="w-100"
                        color="primary"
                      >
                        <input matInput type="text" />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                      <!-- input -->
                      <mat-label class="f-w-600 m-b-8 d-block"
                        >Business Sector*</mat-label
                      >
                      <mat-form-field
                        appearance="outline"
                        class="w-100"
                        color="primary"
                      >
                        <input
                          matInput
                          type="text"
                          value="Arts, Media & Entertainment"
                        />
                      </mat-form-field>
                      <!-- input -->
                      <mat-label class="f-w-600 m-b-8 d-block"
                        >Country*</mat-label
                      >
                      <mat-form-field
                        appearance="outline"
                        class="w-100"
                        color="primary"
                      >
                        <input matInput type="text" value="Romania" />
                      </mat-form-field>
                      <!-- input -->
                      <mat-label class="f-w-600 m-b-8 d-block"
                        >Last Name*</mat-label
                      >
                      <mat-form-field
                        appearance="outline"
                        class="w-100"
                        color="primary"
                      >
                        <input matInput type="text" />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <!-- 2 -->
                <div class="m-t-30 b-1 rounded p-30">
                  <mat-card-title
                    >Current Plan : <span class="text-success">Execusive</span>
                  </mat-card-title>
                  <mat-card-subtitle class="mat-body-1"
                    >Thanks for being a premium member and supporting our
                    development.</mat-card-subtitle
                  >
  
                  <div class="d-flex align-items-center m-t-24">
                    <button
                      mat-mini-fab
                      class="bg-light-primary shadow-none rounded icon-48"
                    >
                      <i-tabler
                        name="box"
                        class="icon-20 d-flex text-primary"
                      ></i-tabler>
                    </button>
                    <div class="m-l-16 w-100">
                      <span class="f-s-14 d-block m-b-4">Current Plan</span>
                      <h5 class="f-s-16 f-w-600 m-0 m-b-4">
                        750.000 Monthly Visits
                      </h5>
                    </div>
                    <span class="m-l-auto">
                      <i-tabler name="circle-plus" class="icon-20"></i-tabler>
                    </span>
                  </div>
  
                  <div class="m-t-24">
                    <button mat-flat-button color="primary">Change Plan</button>
                    <button mat-stroked-button class="m-l-8" color="warn">
                      Reset Plan
                    </button>
                  </div>
                </div>
  
                <!-- 3 -->
                <div class="p-30 m-t-30 b-1 rounded">
                  <mat-card-title>Payment Method </mat-card-title>
                  <mat-card-subtitle class="mat-body-1"
                    >On 26 December, 2023</mat-card-subtitle
                  >
  
                  <div class="d-flex align-items-center m-t-24">
                    <button
                      mat-mini-fab
                      class="bg-light-primary shadow-none rounded icon-48"
                    >
                      <i-tabler
                        name="credit-card"
                        class="icon-20 d-flex text-primary"
                      ></i-tabler>
                    </button>
                    <div class="m-l-16 w-100">
                      <span class="f-s-14 d-block m-b-4">Visa</span>
                      <h5 class="f-s-16 f-w-600 m-0 m-b-4">*****2102</h5>
                    </div>
                    <span class="m-l-auto">
                      <i-tabler name="pencil-minus" class="icon-20"></i-tabler>
                    </span>
                  </div>
  
                  <div class="m-t-24">
                    <button mat-stroked-button class="m-l-8" color="warn">
                      Cancel Subscription
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-tab>
        <mat-tab label="Account">
          <ng-template mat-tab-label>
            <div class="d-flex align-items-center">
              <mat-icon>
                <i-tabler name="lock" class="icon-20 m-r-8"></i-tabler>
              </mat-icon>
            </div>
            {{"Security" | translate}}
          </ng-template>
          <mat-card-content class="p-y-24">
            <div class="row">
              <div class="col-lg-8">
                <div class="p-30 rounded b-1">
                  <mat-card-title>Two-factor Authentication</mat-card-title>
                  <div class="d-flex align-items-center p-b-30 b-b-1">
                    <mat-card-subtitle class="mat-body-1"
                      >Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      Corporis sapiente sunt earum officiis laboriosam
                      ut.</mat-card-subtitle
                    >
                    <button mat-flat-button color="primary" class="m-l-auto">
                      Enable
                    </button>
                  </div>
                  <div class="d-flex align-items-center p-y-24 b-b-1">
                    <div>
                      <h5 class="f-s-16 f-w-600 m-0">Authentication App</h5>
                      <mat-card-subtitle class="mat-body-1"
                        >Google auth app</mat-card-subtitle
                      >
                    </div>
  
                    <button mat-stroked-button color="primary" class="m-l-auto">
                      Setup
                    </button>
                  </div>
                  <div class="d-flex align-items-center p-y-24 b-b-1">
                    <div>
                      <h5 class="f-s-16 f-w-600 m-0">Another e-mail</h5>
                      <mat-card-subtitle class="mat-body-1"
                        >E-mail to send verification link</mat-card-subtitle
                      >
                    </div>
  
                    <button mat-stroked-button color="primary" class="m-l-auto">
                      Setup
                    </button>
                  </div>
                  <div class="d-flex align-items-center p-y-24 b-b-1">
                    <div>
                      <h5 class="f-s-16 f-w-600 m-0">SMS Recovery</h5>
                      <mat-card-subtitle class="mat-body-1"
                        >Your phone number or something</mat-card-subtitle
                      >
                    </div>
  
                    <button mat-stroked-button color="primary" class="m-l-auto">
                      Setup
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="b-1 rounded p-30">
                  <button
                    mat-mini-fab
                    class="bg-light-primary shadow-none rounded icon-48"
                  >
                    <i-tabler
                      name="device-laptop"
                      class="icon-22 d-flex text-primary"
                    ></i-tabler>
                  </button>
                  <mat-card-title class="m-t-16">Devices</mat-card-title>
                  <mat-card-subtitle class="mat-body-1"
                    >Lorem ipsum dolor sit amet consectetur adipisicing elit
                    Rem.</mat-card-subtitle
                  >
                  <button mat-flat-button color="primary" class="m-t-24">
                    Sign out from all devices
                  </button>
  
                  <div class="d-flex align-items-center p-y-24 b-b-1">
                    <span>
                      <i-tabler name="device-mobile" class="icon-22"></i-tabler>
                    </span>
                    <div class="m-l-16">
                      <mat-card-title class="m-b-0">iPhone 14</mat-card-title>
                      <mat-card-subtitle class="mat-body-1"
                        >London UK, Oct 23 at 1:15 AM
                      </mat-card-subtitle>
                    </div>
                    <button mat-icon-button class="m-l-auto">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                  </div>
                  <div class="d-flex align-items-center p-t-24">
                    <span>
                      <i-tabler name="device-laptop" class="icon-22"></i-tabler>
                    </span>
                    <div class="m-l-16">
                      <mat-card-title class="m-b-0">Macbook Air</mat-card-title>
                      <mat-card-subtitle class="mat-body-1"
                        >Gujarat India, Oct 24 at 3:15 AM
                      </mat-card-subtitle>
                    </div>
                    <button mat-icon-button class="m-l-auto">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                  </div>
                  <button mat-stroked-button color="primary" class="m-t-16 w-100">
                    Need Help?
                  </button>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-tab>
        <mat-tab label="Invoice" *ngIf="isAdminOrSuperAdmin()">
          <ng-template mat-tab-label>
            <div class="d-flex align-items-center">
              <mat-icon>
                <i-tabler name="receipt" class="icon-20 m-r-8"></i-tabler>
              </mat-icon>
            </div>
            {{"Invoice" | translate}}
          </ng-template>
        </mat-tab>
      </mat-tab-group>
      <div class="text-right p-24 p-t-0">
        <button mat-flat-button color="primary" (click)="onFormSubmit()" class="m-r-8">Save</button>
        <button mat-stroked-button color="warn">Cancel</button>
      </div>
    </mat-card-content>
  </mat-card>
  