<div *ngIf="loading" class="loading-spinner-overlay">
    <mat-spinner></mat-spinner>
  </div>
    <mat-card-content>
      <div class="container">
        <div class="row p-y-15">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <span class="f-w-600 f-s-15 mat-body-1">First Name: </span>
            <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
              {{ userForView?.firstName  || 'N/A'}}
            </h6>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 text-right">
            <span class="f-w-600 f-s-15 mat-body-1">Last Name: </span>
            <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
              {{ userForView?.lastName  || 'N/A'}}
            </h6>
          </div>
        </div>
        <div class="row p-y-15">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <span class="f-w-600 f-s-15 mat-body-1">Mobile Number: </span>
              <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                {{ userForView?.mobileNumber  || 'N/A'}}
              </h6>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 text-right">
                <span class="f-w-600 f-s-15 mat-body-1">Status: </span>
                
                <ng-container *ngIf="userForView?.status == 1; else statusText">
                  <mat-slide-toggle 
                    [disabled]="true" 
                    [checked]="true"> 
                  </mat-slide-toggle>
                </ng-container>
              
                <ng-template #statusText>
                  <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                    {{ userForView?.status || 'N/A' }}
                  </h6>
                </ng-template>
              </div>
              
              
          </div>
          <div class="row p-y-15">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <span class="f-w-600 f-s-15 mat-body-1">City: </span>
              <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                {{ userForView?.city  || 'N/A'}}
              </h6>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 text-right">
              <span class="f-w-600 f-s-15 mat-body-1">Cnic: </span>
              <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                {{ userForView?.cnic  || 'N/A'}}
              </h6>
            </div>
          </div>
          <div class="row p-y-15">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <span class="f-w-600 f-s-15 mat-body-1">Email: </span>
              <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                {{ userForView?.email  || 'N/A'}}
              </h6>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 text-right">
              <span class="f-w-600 f-s-15 mat-body-1">Role Name: </span>
              <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                {{ userForView?.roleName  || 'N/A'}}
              </h6>
            </div>            
          </div>
          <div class="row p-y-15">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">             
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 text-right" *ngIf="isDoctor">
              <span class="f-w-600 f-s-15 mat-body-1">Doctor Fee: </span>
              <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                {{ userForView?.fee  || 'N/A'}}
              </h6>
            </div>            
          </div>
         
                 
      </div>
    </mat-card-content>