<form [formGroup]="parentFormGroup">
  <div formArrayName="parents">
    <div
      *ngFor="let parent of parentsForm.controls; let i = index"
      [formGroupName]="i"
      class="parent-form"
    >
      <!-- Personal Info Section -->
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>{{
            "Personal Information" | translate
          }}</mat-panel-title>
        </mat-expansion-panel-header>

        <!-- First Name -->
        <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
          <mat-label>{{ "First Name" | translate }}</mat-label>
          <input
            matInput
            formControlName="firstName"
            placeholder="{{ 'Enter first name' | translate }}"
            required
          />
          <mat-error *ngIf="parent?.get('firstName')?.hasError('required')">
            {{ "First name is required" | translate }}
          </mat-error>
        </mat-form-field>

        <!-- Last Name -->
        <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
          <mat-label>{{ "Last Name" | translate }}</mat-label>
          <input
            matInput
            formControlName="lastName"
            placeholder="{{ 'Enter last name' | translate }}"
            required
          />
          <mat-error *ngIf="parent?.get('lastName')?.hasError('required')">
            {{ "Last name is required" | translate }}
          </mat-error>
        </mat-form-field>

        <!-- Country Code -->
        <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
          <mat-label>{{ "Country Code" | translate }}</mat-label>
          <mat-select
            formControlName="countryCode"
            placeholder="{{ 'Select Country Code' | translate }}"
          >
            <mat-option
              *ngFor="let country of countryCodes"
              [value]="country.code"
            >
              {{ country.name }} ({{ country.code }})
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Phone Number -->
        <mat-form-field appearance="outline" class="me-3">
          <mat-label>{{ "Phone Number" | translate }}</mat-label>
          <input
            matInput
            formControlName="homePhone"
            placeholder="{{ 'Enter phone number' | translate }}"
            required
          />
          <mat-error *ngIf="parent?.get('homePhone')?.hasError('required')">
            {{ "Phone number is required" | translate }}
          </mat-error>
        </mat-form-field>
      </mat-expansion-panel>

      <!-- Employment Info Section -->
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>{{
            "Employment Information" | translate
          }}</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="form-row">
          <!-- Employer -->
          <mat-form-field
            appearance="outline"
            class="me-3 rormFieldMArginRight"
          >
            <mat-label>{{ "Employer" | translate }}</mat-label>
            <input
              matInput
              formControlName="employer"
              placeholder="{{ 'Enter employer name' | translate }}"
            />
          </mat-form-field>

          <!-- Is Employed -->
          <mat-checkbox
            formControlName="isEmployed"
            color="primary"
            class="checkbox-inline"
          >
            {{ "Is Employed" | translate }}
          </mat-checkbox>
        </div>

        <div class="form-row">
          <!-- Employer Number -->
          <mat-form-field
            appearance="outline"
            class="me-3 rormFieldMArginRight"
          >
            <mat-label>{{ "Employer Number" | translate }}</mat-label>
            <input
              matInput
              formControlName="employerNumber"
              placeholder="{{ 'Enter employer number' | translate }}"
            />
          </mat-form-field>

          <!-- Employer Address -->
          <mat-form-field
            appearance="outline"
            class="me-3 rormFieldMArginRight"
          >
            <mat-label>{{ "Employer Address" | translate }}</mat-label>
            <input
              matInput
              formControlName="employerAddress"
              placeholder="{{ 'Enter employer address' | translate }}"
            />
          </mat-form-field>

          <!-- Salary -->
          <mat-form-field appearance="outline">
            <mat-label>{{ "Salary" | translate }}</mat-label>
            <input matInput formControlName="salary" type="number" />
            <!-- <mat-error *ngIf="parent.get('salary')?.hasError('required')">
              Salary is required
            </mat-error> -->
            <mat-error
            *ngIf="parent?.get('salary')?.hasError('required')"
          >
            {{ "Enter salary" | translate }}
          </mat-error>
          </mat-form-field>
        </div>
      </mat-expansion-panel>

      <!-- Emergency Info Section -->
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>{{
            "Emergency Information" | translate
          }}</mat-panel-title>
        </mat-expansion-panel-header>

        <!-- Emergency Contact -->
        <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
          <mat-label>{{ "Emergency Contact" | translate }}</mat-label>
          <input
            matInput
            formControlName="emergencyContact"
            placeholder="{{ 'Enter emergency contact' | translate }}"
            required
          />
          <mat-error
            *ngIf="parent?.get('emergencyContact')?.hasError('required')"
          >
            {{ "Emergency contact is required" | translate }}
          </mat-error>
        </mat-form-field>
      </mat-expansion-panel>

      <!-- Connect With Account -->
      <div class="inline-form-field me-3" style="margin-bottom: 15px">
        <mat-slide-toggle
          formControlName="connectWithAccount"
          (change)="onToggleAlreadyAccount($event.checked)"
        >
          {{ "Primarily connect with account" | translate }}
        </mat-slide-toggle>
      </div>

      <!-- Remove Parent Button -->
      <button
        mat-raised-button
        color="warn"
        (click)="removeParentForm(i)"
        [disabled]="parentsForm.length === 1"
      >
        {{ "Remove Parent" | translate }}
      </button>
      <hr />
    </div>
  </div>

  <!-- Add Parent Button -->
  <button mat-raised-button color="primary" (click)="addParentForm()">
    + {{ "Add Parent" | translate }}
  </button>
</form>
