<div *ngIf="isLoading" class="loading-spinner-overlay">
  <mat-spinner></mat-spinner>
</div>
<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>{{
      isEditMode ? ("Update Route" | translate) : ("Create Route" | translate)
      }}</mat-card-title>

    <form [formGroup]="routeForm" (ngSubmit)="onSubmit()" class="mt-3">
      <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
        <mat-label>{{ "Route Name" | translate }}</mat-label>
        <input matInput formControlName="routeName" placeholder="{{ 'Enter Route Name' | translate }}" />
        <mat-error *ngIf="
            routeForm.controls['routeName'].touched &&
            !routeForm.controls['routeName'].valid
          ">
          <ng-container *ngFor="let validation of validationMessages.name">
            <span class="form-control-feedback" *ngIf="routeForm.controls['routeName'].hasError(validation.type)">
              {{ validation.message | translate }}
            </span>
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="inline-form-field me-3 rormFieldMArginRight">
        <mat-label>{{ "Description" | translate }}</mat-label>
        <input matInput formControlName="description" placeholder="{{ 'Enter Description' | translate }}" />
        <mat-error *ngIf="
            routeForm.controls['description'].touched &&
            !routeForm.controls['description'].valid
          ">
          <ng-container *ngFor="let validation of validationMessages.description">
            <span class="form-control-feedback" *ngIf="
                routeForm.controls['description'].hasError(validation.type)
              ">
              {{ validation.message | translate }}
            </span>
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="inline-form-field me-3 rormFieldMArginRight">
        <mat-label>{{ "Departure Time" | translate }}</mat-label>
        <input matInput [ngxMatTimepicker]="departureTimePicker" formControlName="departureTime" />
        <ngx-mat-timepicker-toggle matSuffix [for]="departureTimePicker"></ngx-mat-timepicker-toggle>
        <ngx-mat-timepicker #departureTimePicker></ngx-mat-timepicker>
        <mat-error *ngIf="
            routeForm.controls['departureTime'].touched &&
            !routeForm.controls['departureTime'].valid
          ">
          <ng-container *ngFor="let validation of validationMessages.value">
            <span class="form-control-feedback" *ngIf="
                routeForm.controls['departureTime'].hasError(validation.type)
              ">
              {{ validation.message | translate }}
            </span>
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="inline-form-field me-3">
        <mat-label>{{ "Finish Time" | translate }}</mat-label>
        <input matInput [ngxMatTimepicker]="finishTimePicker" formControlName="finishTime" />
        <ngx-mat-timepicker-toggle matSuffix [for]="finishTimePicker"></ngx-mat-timepicker-toggle>
        <ngx-mat-timepicker #finishTimePicker></ngx-mat-timepicker>
        <mat-error *ngIf="
            routeForm.controls['finishTime'].touched &&
            !routeForm.controls['finishTime'].valid
          ">
          <ng-container *ngFor="let validation of validationMessages.value">
            <span class="form-control-feedback" *ngIf="routeForm.controls['finishTime'].hasError(validation.type)">
              {{ validation.message | translate }}
            </span>
          </ng-container>
        </mat-error>
      </mat-form-field>
      <div class="row align-items-center row-margin" >
        <div class="col-lg-4 log-4-margin">
          <mat-form-field appearance="outline" class="inline-form-field  w-100">
            <mat-label>{{ "Status" | translate }}</mat-label>
            <mat-select formControlName="statusId" placeholder="{{ 'Select Status' | translate }}" required>
              <mat-option *ngFor="let status of appresourceRouteType" [value]="status.resourceId">
                {{ status.resourceKey | translate }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="routeForm?.get('statusId')?.hasError('required')">
              {{ "Please select a Status" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      
        <div class="col-lg-4 log-4-margin">
          <mat-form-field appearance="outline" class="inline-form-field  w-100" style="height: 71px;">
            <mat-label>{{ "Current Location" | translate }}</mat-label>
            <input
              matInput
              formControlName="currentLocation"
              placeholder="{{ 'Enter Current Location' | translate }}"
            />
            <mat-error
              *ngIf="
                routeForm.controls['currentLocation'].touched &&
                !routeForm.controls['currentLocation'].valid
              "
            >
              <ng-container *ngFor="let validation of validationMessages.value">
                <span
                  class="form-control-feedback"
                  *ngIf="
                    routeForm.controls['currentLocation'].hasError(validation.type)
                  "
                >
                  {{ validation.message | translate }}
                </span>
              </ng-container>
            </mat-error>
          </mat-form-field>
        </div>
      
        <div class="col-lg-4 log-4-margin">
          <mat-form-field appearance="outline" class="inline-form-field w-100">
            <mat-label>{{ "Driver" | translate }}</mat-label>
            <mat-select formControlName="driverId" placeholder="{{ 'Select driver' | translate }}" required>
              <mat-option *ngFor="let driver of driverEmployeeListforDropDown" [value]="driver.employeeId">
                {{ driver.employeeName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="routeForm?.get('driverId')?.hasError('required')">
              {{ "Please select a Driver" | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      

      <div class="student-container">
        <div class="student-list">
          <h3>{{ "Available Students" | translate }}</h3>
          <mat-selection-list #studentsList>
            <mat-list-option *ngFor="let student of studentListForDropDown" [value]="student.studentId">
              {{ student.studentName | translate }}
            </mat-list-option>
          </mat-selection-list>
        </div>
        <div class="actions">
          <button mat-icon-button color="primary" type="button" (click)="moveSelectedStudents(studentsList)">
            <mat-icon>arrow_forward</mat-icon>
          </button>
          <button mat-icon-button color="accent" type="button" (click)="moveBackStudents(selectedStudentsList)">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>
        <div class="selected-students">
          <h3>{{ "Selected Students" | translate }}</h3>
          <mat-selection-list #selectedStudentsList>
            <mat-list-option *ngFor="let student of selectedStudents" [value]="student.studentId">
              {{ student.studentName | translate }}
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
      <div class="student-container">
        <div class="student-list">
          <h3>{{ "Available Teachers" | translate }}</h3>
          <mat-selection-list #teachersList>
            <mat-list-option *ngFor="let teacher of employeeListForDropDown" [value]="teacher.employeeId">
              {{ teacher.employeeName | translate }}
            </mat-list-option>
          </mat-selection-list>
        </div>
        <div class="actions">
          <button mat-icon-button color="primary" type="button" (click)="EmployeemoveSelected(teachersList)">
            <mat-icon>arrow_forward</mat-icon>
          </button>
          <button mat-icon-button color="accent" type="button" (click)="EmployeemoveBack(selectedTeachersList)">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>
        <div class="selected-Teachers">
          <h3>{{ "Selected Teachers" | translate }}</h3>
          <mat-selection-list #selectedTeachersList>
            <mat-list-option *ngFor="let teacher of selectedEmployees" [value]="teacher.employeeId">
              {{ teacher.employeeName | translate }}
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>

      <button mat-flat-button color="primary" type="submit">
        {{ "Submit" | translate }}
      </button>
    </form>
  </mat-card-content>
</mat-card>