.loading-spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Translucent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other content */
  }

  .student-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .student-list, .selected-students {
    width: 45%;
  }
  
  .actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }
  
  .actions button {
    margin: 10px 0;
  }
  
  .submit {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Styling for Arrow Buttons */
  button.mat-icon-button {
    width: 40px;
    height: 40px;
    background-color: #f1f1f1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button.mat-icon-button:hover {
    background-color: #e0e0e0;
  }
  
  button.mat-icon-button mat-icon {
    font-size: 24px;
  }
  .row-margin
  {
    margin-right: 10px !important;
  }
  .log-4-margin
  {
    margin-right: -20px;
  }