<div *ngIf="isLoading" class="loading-spinner-overlay">
  <mat-spinner></mat-spinner>
</div>
<form [formGroup]="studentAccountForm">
  <div class="row">
    <!-- Annual Fee -->
    <div class="col-xl-4 col-lg-4 col-mg-4 col-sm-4 col-12">
      <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
        <mat-label>{{ "Annual Fee" | translate }}</mat-label>
        <input
          matInput
          formControlName="annualFee"
          placeholder="{{ 'Enter Annual Fee' | translate }}"
          type="number"
          required
        />
        <mat-error
          *ngIf="studentAccountForm?.get('annualFee')?.hasError('required')"
        >
          {{ "Annual Fee is required" | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Registration Fee -->
    <div class="col-xl-4 col-lg-4 col-mg-4 col-sm-4 col-12">
      <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
        <mat-label>{{ "Registration Fee" | translate }}</mat-label>
        <input
          matInput
          formControlName="registrationFee"
          placeholder="{{ 'Enter Registration Fee' | translate }}"
          type="number"
          required
        />
        <mat-error
          *ngIf="
            studentAccountForm?.get('registrationFee')?.hasError('required')
          "
        >
          {{ "Registration Fee is required" | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Transportation Fee -->
    <div class="col-xl-4 col-lg-4 col-mg-4 col-sm-4 col-12">
      <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
        <mat-label>{{ "Transportation Fee" | translate }}</mat-label>
        <input
          matInput
          formControlName="transportationFee"
          placeholder="{{ 'Enter Transportation Fee' | translate }}"
          type="number"
          required
        />
        <mat-error
          *ngIf="
            studentAccountForm?.get('transportationFee')?.hasError('required')
          "
        >
          {{ "Transportation Fee is required" | translate }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <!-- Payment Plan Type -->
    <div class="col-xl-6 col-lg-6 col-mg-6 col-sm-6 col-12">
      <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
        <mat-label>{{ "Payment Plan Type" | translate }}</mat-label>
        <mat-select
          formControlName="paymentPlanType"
          placeholder="{{ 'Select Payment Plan' | translate }}"
          required
        >
          <mat-option
            *ngFor="let payment of appresourcePaymentPlan"
            [value]="payment.resourceId"
          >
            {{ payment.resourceKey }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            studentAccountForm?.get('paymentPlanType')?.hasError('required')
          "
        >
          {{ "Please select a payment plan" | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- School Year Period -->
    <div class="col-xl-6 col-lg-6 col-mg-6 col-sm-6 col-12">
      <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
        <mat-label>{{ "School Year Period" | translate }}</mat-label>
        <mat-select
          formControlName="schoolYearPeriod"
          placeholder="{{ 'Select School Year Period' | translate }}"
          required
        >
          <mat-option
            *ngFor="let period of appresourceschoolYearPeriod"
            [value]="period.resourceId"
          >
            {{ period.resourceKey }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            studentAccountForm?.get('schoolYearPeriod')?.hasError('required')
          "
        >
          {{ "School year period is required" | translate }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <!-- Recovery Phone -->
    <div class="col-xl-4 col-lg-4 col-mg-4 col-sm-4 col-12">
      <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
        <mat-label>{{ "Recovery Phone" | translate }}</mat-label>
        <input
          matInput
          formControlName="recoveryPhone"
          placeholder="{{ 'Enter Recovery Phone' | translate }}"
          class="formInputHeight"
          required
        />
        <mat-error
          *ngIf="studentAccountForm?.get('recoveryPhone')?.hasError('required')"
        >
          {{ "Recovery Phone is required" | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Email -->
    <div class="col-xl-4 col-lg-4 col-mg-4 col-sm-4 col-12">
      <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
        <mat-label>{{ "Email" | translate }}</mat-label>
        <input
          matInput
          formControlName="accountEmail"
          class="formInputHeight"
          placeholder="{{ 'Enter Email' | translate }}"
        />
        <mat-error
          *ngIf="
            studentAccountForm.controls['accountEmail'].touched &&
            !studentAccountForm.controls['accountEmail'].valid
          "
        >
          <ng-container *ngFor="let validation of validationMessages.email">
            <span
              class="form-control-feedback"
              *ngIf="
                studentAccountForm.controls['accountEmail'].hasError(
                  validation.type
                )
              "
            >
              {{ validation.message | translate }}
            </span>
          </ng-container>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Is Active -->
    <div class="col-xl-4 col-lg-4 col-mg-4 col-sm-4 col-12">
      <mat-checkbox
      formControlName="isActive"
      color="primary"
      class="checkbox-inline rormFieldMArginRight"
    >
      {{ "Is Active" | translate }}
    </mat-checkbox>
    </div>
  </div>
</form>
