<!-- <div class="col-12">
  <div class="d-flex align-items-center justify-content-between">
    <div class="--page-navigation">
      <ul>
        <li>
          <mat-icon>home</mat-icon>
        </li>
        <li routerLink="/main/billing">
          <mat-icon class="me-2">school</mat-icon>
          <span>{{ 'Billing' | translate }}</span>
        </li>
        <li>
          {{ isEdit ? ('Update Payroll' | translate) : ('Create Employee Payroll' | translate) }}
        </li>
      </ul>
    </div>
  </div>
</div> -->
<form [formGroup]="salaryPaymentForm" (ngSubmit)="onSubmit()">
  <!-- Employee Selection Dropdown -->
  <div class="col-12 mb-3 billing-Select-Emp">
    <mat-form-field appearance="outline">
      <mat-label>{{ "Select Employee" | translate }}</mat-label>
      <mat-select formControlName="employeeId">
        <mat-option [value]="null">
          {{ "Select Employee" | translate }}
        </mat-option>
        <mat-option *ngFor="let employee of employees" [value]="employee.id">
          {{ employee.firstName }} - {{ employee.lastName }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="
          salaryPaymentForm.get('employeeId')?.invalid &&
          salaryPaymentForm.get('employeeId')?.touched
        "
      >
        {{ "Employee ID is required." | translate }}
      </mat-error>
    </mat-form-field>
  </div>

  <!-- Payment Amount -->
  <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
    <mat-label>{{ "Payment Amount" | translate }}</mat-label>
    <input
      matInput
      type="number"
      formControlName="paymentAmount"
      placeholder="{{ 'Enter Payment Amount' | translate }}"
    />
    <mat-error
      *ngIf="
        salaryPaymentForm.get('paymentAmount')?.invalid &&
        salaryPaymentForm.get('paymentAmount')?.touched
      "
    >
      {{ "Payment amount is required and must be greater than 0." | translate }}
    </mat-error>
    <mat-hint *ngIf="salaryExceeds" class="warning-text">
      {{
        "Warning: The amount exceeds the employee's monthly salary." | translate
      }}
    </mat-hint>
  </mat-form-field>

  <!-- For Pay Period (Dropdown) -->
  <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
    <mat-label>{{ "For Pay Period" | translate }}</mat-label>
    <mat-select formControlName="forPayPeriod">
      <mat-option *ngFor="let period of payPeriods" [value]="period.period">
        {{ period.payPeriodLabel | translate }}
      </mat-option>
    </mat-select>
    <mat-error
      *ngIf="
        salaryPaymentForm.get('forPayPeriod')?.invalid &&
        salaryPaymentForm.get('forPayPeriod')?.touched
      "
    >
      {{ "Pay period is required." | translate }}
    </mat-error>
  </mat-form-field>

  <!-- Paid On -->
  <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
    <mat-label>{{ "Paid On" | translate }}</mat-label>
    <input matInput type="text" formControlName="paidOn" readonly />
  </mat-form-field>

  <!-- Paid By -->
  <mat-form-field appearance="outline" class="me-3">
    <mat-label>{{ "Paid By" | translate }}</mat-label>
    <input matInput type="text" formControlName="paidBy" readonly />
  </mat-form-field>

  <!-- Submit Button -->
  <div class="--page-actions pt-4 createPaymentMargin" >
    <button mat-flat-button color="primary" type="submit">
      {{
        isEdit ? ("Update Payment" | translate) : ("Create Payment" | translate)
      }}
    </button>
  </div>
</form>
