<!-- <div class="col-lg-12">
    <div class="row d-flex justify-content-end">
        <button mat-icon-button class="close-btn" (click)="closeDialog()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <span class="label">Employee ID :</span>
        </div>
        <div class="col-lg-6 justify-content-end">
            <span>{{ payRollViewData.employeeId }}</span>
        </div>
    </div>
   
    <div class="row">
        <div class="col-lg-6">
            <span class="label">payment Amount :</span>
        </div>
        <div class="col-lg-6">
            <span>{{ payRollViewData.paymentAmount }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <span class="label">For Pay Period:</span>
        </div>
        <div class="col-lg-6">
            <span>{{ payRollViewData.forPayPeriod }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <span class="label">Paid On:</span>
        </div>
        <div class="col-lg-6">
            <span>{{ payRollViewData.paidOn }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <span class="label">Paid By:</span>
        </div>
        <div class="col-lg-6">
            <span>{{ payRollViewData.paidBy }}</span>
        </div>
    </div>
</div> -->




<div class="col-lg-12">
    <!-- Close Button Row -->
    <div class="modal-header row d-flex justify-content-end headeBackground" >
      <button mat-icon-button class="close-btn buttonMargin" (click)="closeDialog()" >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  
    <!-- Employee ID -->
    <div class="row">
      <div class="col-lg-6">
        <span class="label">Employee ID :</span>
      </div>
      <div class="col-lg-6 paddingrow">
        <span>{{ payRollViewData.employeeId }}</span>
      </div>
    </div>
  
    <!-- Payment Amount -->
    <div class="row">
      <div class="col-lg-6">
        <span class="label">Payment Amount :</span>
      </div>
      <div class="col-lg-6 paddingrow">
        <span>{{ payRollViewData.paymentAmount }}</span>
      </div>
    </div>
  
    <!-- For Pay Period -->
    <div class="row">
      <div class="col-lg-6">
        <span class="label">For Pay Period:</span>
      </div>
      <div class="col-lg-6 paddingrow">
        <span>{{ payRollViewData.forPayPeriod }}</span>
      </div>
    </div>
  
    <!-- Paid On -->
    <div class="row">
      <div class="col-lg-6">
        <span class="label">Paid On:</span>
      </div>
      <div class="col-lg-6  paddingrow">
        <span>{{ payRollViewData.paidOn }}</span>
      </div>
    </div>
  
    <!-- Paid By -->
    <div class="row ">
      <div class="col-lg-6">
        <span class="label">Paid By:</span>
      </div>
      <div class="col-lg-6 paddingrow">
        <span>{{ payRollViewData.paidBy }}</span>
      </div>
    </div>
  </div>
  