<div *ngIf="isLoading" class="loading-spinner-overlay">
    <mat-spinner></mat-spinner>
</div>
<div class="col-lg-12 modal-content" [ngStyle]="{ 'height': dynamicHeight }">
    <!-- Close Button Row -->
    <div class="modal-header row d-flex justify-content-end ">
        <h2 class="modal-title mx-auto">
            <strong>{{ studentBehaviourData?.studentName ? (studentBehaviourData.studentName | translate | uppercase) : 'N/A' }} BEHAVIOUR</strong>
        </h2>
        
        <button mat-icon-button class="close-btn buttonMargin" (click)="closeDialog()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <!-- Modal Body -->
    <div class="modal-body">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <Span><strong>{{ "Student ID : " | translate }}</strong></Span>
                <Span>{{ studentBehaviourData?.studentId ? (studentBehaviourData.studentId | translate) : 'N/A'
                    }}</Span>

            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <Span><strong>{{ "Student Name : " | translate }}</strong></Span>
                <Span>{{ studentBehaviourData?.studentName ? (studentBehaviourData.studentName | translate) : 'N/A'}}</Span>

            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <Span><strong>{{ "SeverityLevelText : " | translate }}</strong></Span>
                <Span>{{ studentBehaviourData?.severityLevelText ? (studentBehaviourData.severityLevelText | translate) : 'N/A'
                    }}</Span>

            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <Span><strong>{{ "BehaviourText : " | translate }}</strong></Span>
                <Span>{{ studentBehaviourData?.behaviourText ? (studentBehaviourData.behaviourText | translate) : 'N/A'}}</Span>

            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <Span><strong>{{ "Subject ID : " | translate }}</strong></Span>
                <Span>{{ studentBehaviourData?.subjectId ? (studentBehaviourData.subjectId | translate) : 'N/A'
                    }}</Span>

            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <Span><strong>{{ "Subject Name : " | translate }}</strong></Span>
                <Span>{{ studentBehaviourData?.subjectName ? (studentBehaviourData.subjectName | translate) : 'N/A'
                    }}</Span>

            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <Span><strong>{{ "Classroom ID : " | translate }}</strong></Span>
                <Span>{{ studentBehaviourData?.classroomId ? (studentBehaviourData.classroomId | translate) : 'N/A'
                    }}</Span>

            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <Span><strong>{{ "ClassRoom Name : " | translate }}</strong></Span>
                <Span>{{ studentBehaviourData?.classRoomName ? (studentBehaviourData.classRoomName | translate) : 'N/A'
                    }}</Span>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <Span><strong>{{ "Behavior Type Id : " | translate }}</strong></Span>
                <Span>{{ studentBehaviourData?.behaviorTypeId ? (studentBehaviourData.behaviorTypeId | translate) : 'N/A'}}</Span>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <Span><strong>{{ "Behavior Type : " | translate }}</strong></Span>
                <Span>{{ studentBehaviourData?.behaviorType ? (studentBehaviourData.behaviorType | translate) : 'N/A'}}</Span>


            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <Span><strong>{{ "Date Of Incident : " | translate }}</strong></Span>
                <Span>{{ studentBehaviourData?.dateOfIncident | date:'short' }}</Span>

            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <Span><strong>{{ "Description : " | translate }}</strong></Span>
                <Span>{{ studentBehaviourData?.description ? (studentBehaviourData.description | translate) : 'N/A'}}</Span>


            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <Span><strong>{{ "ActionTaken : " | translate }}</strong></Span>
                <Span>{{ studentBehaviourData?.actionTaken ? (studentBehaviourData.actionTaken | translate) : 'N/A'}}</Span>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <Span><strong>{{ "ReportedBy : " | translate }}</strong></Span>
                <Span>{{ studentBehaviourData?.reportedBy ? (studentBehaviourData.reportedBy | translate) : 'N/A'
                    }}</Span>


            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <Span><strong>{{ "SeverityLevel : " | translate }}</strong></Span>
                <Span>{{ studentBehaviourData?.severityLevel ? (studentBehaviourData.severityLevel | translate) : 'N/A'}}</Span>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <Span><strong>{{ "Category : " | translate }}</strong></Span>
                <Span>{{ studentBehaviourData?.category ? (studentBehaviourData.category | translate) : 'N/A'
                    }}</Span>


            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <Span><strong>{{ "Location : " | translate }}</strong></Span>
                <Span>{{ studentBehaviourData?.location ? (studentBehaviourData.location | translate) : 'N/A'}}</Span>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <Span><strong>{{ "Witnesses : " | translate }}</strong></Span>
                <Span>
                    <ng-container *ngIf="studentBehaviourData?.witnesses?.length > 0; else noWitnesses">
                        <Span *ngFor="let witness of studentBehaviourData.witnesses; let i = index">
                            {{ witness }}<span *ngIf="i < studentBehaviourData.witnesses.length - 1">, </span>
                        </Span>
                    </ng-container>
                    <ng-template #noWitnesses>
                        N/A
                    </ng-template>
                </Span>
            </div>
            
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <Span><strong>{{ "FollowUpDetails : " | translate }}</strong></Span>
                <Span>{{ studentBehaviourData?.followUpDetails ? (studentBehaviourData.followUpDetails | translate) : 'N/A'}}</Span>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <Span><strong>{{ "NotificationDetails : " | translate }}</strong></Span>
                <Span>{{ studentBehaviourData?.notificationDetails ? (studentBehaviourData.notificationDetails | translate) : 'N/A'}}</Span>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <Span><strong>{{ "ResolutionStatus : " | translate }}</strong></Span>
                <Span>{{ studentBehaviourData?.resolutionStatus ? (studentBehaviourData.resolutionStatus | translate) : 'N/A'}}</Span>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <Span><strong>{{ "PointsAffected : " | translate }}</strong></Span>
                <Span>{{ studentBehaviourData?.pointsAffected ? (studentBehaviourData.pointsAffected | translate) : 'N/A'}}</Span>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <Span><strong>{{ "FollowUpRequired : " | translate }}</strong></Span>
                <Span>{{ studentBehaviourData?.followUpRequired ? (studentBehaviourData.followUpRequired | translate) : 'N/A'}}</Span>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <Span><strong>{{ "ParentNotified : " | translate }}</strong></Span>
                <Span>{{ studentBehaviourData?.parentNotified ? (studentBehaviourData.parentNotified | translate) : 'N/A'}}</Span>
            </div>
        </div>
        <div class="row attachmentmarginTop">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <span><strong>{{ "Attachments : " | translate }}</strong></span>
                <!-- Check if attachments exist -->
                <div *ngIf="studentBehaviourData?.attachments?.length > 0; else noAttachments" class="attachmentmarginTop">
                    <div class="row">
                        <!-- Loop through attachments and display each image as a card -->
                        <div 
                        *ngFor="let attachment of studentBehaviourData.attachments" 
                        class="col-md-4 mb-3 d-flex align-items-stretch">
                        <div class="card">
                            <!-- Check if the attachment is an image -->
                            <ng-container *ngIf="isImage(attachment); else pdfTemplate">
                              <img
                                [src]="'/UploadedFiles/' + attachment"
                                class="card-img-top"
                                alt="Attachment Image"
                                style="height: 150px; object-fit: cover;" />
                            </ng-container>
                            
                            <!-- Template for PDFs -->
                            <ng-template #pdfTemplate>
                              <iframe 
                                [src]="getSafeUrl(attachment)" 
                                class="card-img-top" 
                                style="height: 150px; object-fit: contain;" 
                                frameborder="0" 
                                title="PDF Preview">
                              </iframe>
                            </ng-template>
                          
                            <div class="card-body text-center">
                              <p class="card-text">{{ extractFileName(attachment) }}</p>
                              <a 
      [href]="'/UploadedFiles/' + attachment" 
      download="{{ extractFileName(attachment) }}" 
      class="btn btn-primary">
      Download
    </a>
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
                <!-- Fallback when there are no attachments -->
                <ng-template #noAttachments>
                    <span>{{ 'N/A' | translate }}</span>
                </ng-template>
            </div>
        </div>
        
        
    </div>


    <!-- Modal Footer -->
    <div class="modal-footer d-flex justify-content-end">

        <button mat-raised-button color="primary" type="button" class="saveButton" (click)="closeDialog()">
            Close
        </button>
    </div>
</div>