<div class="">
  <h1 class="--page-title">{{ title | async }}</h1>
</div>
<mat-tab-group
  [(selectedIndex)]="selectedIndex"
  (selectedTabChange)="onTabChange($event)"
>
  <mat-tab label="{{ 'Student Payments' | translate }}">
    <ng-template matTabContent>
      <app-student-payments></app-student-payments>
    </ng-template>
  </mat-tab>
  <mat-tab label="{{ 'Payroll' | translate }}">
    <ng-template matTabContent> <app-pay-roll></app-pay-roll> </ng-template>
  </mat-tab>
  <mat-tab label="{{ 'Invoices' | translate }}">
    <ng-template matTabContent> <app-invoices></app-invoices> </ng-template>
  </mat-tab>
  <mat-tab label="{{ 'Pay-Ins' | translate }}">
    <ng-template matTabContent> <app-pay-ins></app-pay-ins> </ng-template>
  </mat-tab>
</mat-tab-group>
