.project-form .modal-body {
    padding: 1rem;
  }
  
  .project-form mat-form-field {
    width: 100%;
  }
  .cancelButtonMargin
  {
    margin-right: 6px !important;
  }
  .createButtonMargin
  {
    margin-right: 13px !important;
  }
  .hrStyleForMaring
  {
    margin-left: 17px !important;
  }
  .modalHeader{
    background: whitesmoke !important;
  }
  