<div *ngIf="isLoading" class="loading-spinner-overlay">
  <mat-spinner></mat-spinner>
</div>
<mat-stepper (selectionChange)="onStepClick($event)">
  <mat-step>
    <ng-template matStepLabel>
      <span [ngClass]="{ 'error-label': studentFormInvalid }"
        >Student Information</span
      >
    </ng-template>
    <app-student-create-form
      #studentForm
      [studentData]="studentData"
      (accountToggle)="onStudentToggle($event)"
    >
    </app-student-create-form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>
      <span [ngClass]="{ 'error-label': parentFormInvalid }"
        >Parent Information</span
      >
    </ng-template>
    <app-parent-form
      #parentForm
      [parentData]="parentData"
      (accountParentToggle)="onParentAccountToggle($event)"
    >
    </app-parent-form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>
      <span [ngClass]="{ 'error-label': accountFormInvalid }"
        >Account Details</span
      >
    </ng-template>
    <app-accountform
      #accountForm
      [accountData]="accountData"
      (accountFormValidityChange)="onAccountFormValidityChange($event)"
    >
    </app-accountform>
  </mat-step>
</mat-stepper>

<!-- Updated buttons for Navigation and Save -->
<div class="button-group mt-2" *ngIf="!isLoading">
  <div class="d-flex align-items-center justify-content-between">
    <button
      mat-flat-button
      color="warn"
      (click)="moveBack()"
      class="ml-2 rormFieldMArginRight"
      [disabled]="currentTabIndex === 0"
      *ngIf="!isSubmitTrue"
    >
      Previous
    </button>
    <!-- Next Button -->
    <button
      mat-flat-button
      color="primary"
      (click)="moveNext()"
      class="ml-2 rormFieldMArginRight"
      [disabled]="currentTabIndex === 2"
      *ngIf="!isSubmitTrue && currentTabIndex !== 2"
    >
      Next
    </button>

    <button
      mat-flat-button
      color="primary"
      (click)="saveAll()"
      class="ml-2 save-button-margin"
      *ngIf="currentTabIndex === 2 && !isSubmitTrue"
      [disabled]="!accountFormValid"
    >
      Save Changes
    </button>

    <!-- Save Changes Button when already submitted -->
    <button
      mat-flat-button
      color="primary"
      (click)="save()"
      class="ml-2 save-button-margin"
      *ngIf="isSubmitTrue"
    >
      Save Changes
    </button>
  </div>
</div>
