<div *ngIf="isLoading" class="loading-spinner-overlay">
  <mat-spinner></mat-spinner>
</div>
<mat-stepper #stepper>
  <mat-step ><ng-template matStepLabel>
    <mat-icon *ngIf="isView" class="custom-view-icon">visibility</mat-icon>
  </ng-template> <app-student-details #studentTab [studentData]="studentData"></app-student-details>
  </mat-step>
  <mat-step> <app-parent-detail #parentTab [parentData]="parentData"></app-parent-detail>
  </mat-step>
  <mat-step> <app-account-detail #accountTab [accountData]="accountData"></app-account-detail>
  </mat-step>
</mat-stepper>