<h1 class="--page-title">Parent</h1>
<div class="row" *ngIf="isAdminOrSuperAdmin()">
  <mat-card>
    <mat-card-content>
      <!-- Parent selection for Admin/SuperAdmin -->
      <div *ngIf="isAdminOrSuperAdmin()" class="mb-4">
        <mat-form-field appearance="outline">
          <mat-label>{{ "Impersonate Parent" | translate }}</mat-label>
          <mat-select (selectionChange)="onParentSelected($event.value)">
            <mat-option *ngFor="let parent of parentsList" [value]="parent.id">
              {{ parent.firstName }} {{ parent.lastName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="row" *ngIf="selectedParentId">
  <!-- column -->
  <div class="col-lg-8">
    <!-- card -->
    <mat-card class="shadow-none bg-primary-gt text-white overflow-hidden">
      <mat-card-content class="z-1">
        <div class="row">
          <div class="col-sm-7">
            <div class="d-flex flex-column h-100">
              <div class="hstack">
                <span
                  class="d-flex align-items-center badge-custom-dark rounded-sm"
                >
                  <i-tabler
                    name="circle-check"
                    class="text-white icon-20 m-r-8"
                  ></i-tabler>
                  <span
                    >This month <span class="f-w-600">+15% Profit</span></span
                  >
                </span>
              </div>
              <div class="m-t-24 p-t-48">
                <h5 class="m-b-0 text-white f-s-23 m-t-4 m-b-4 f-w-700">
                  <span class="f-w-400">Hey,</span> David McMichael
                </h5>
                <span class="op-75"
                  >Aenean vel libero id metus sollicitudin</span
                >
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
  <div class="col-lg-4">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-y-24 text-center">
        <span class="text-uppercase f-s-14 d-block text-center m-b-24"
          >Level Up</span
        >
        <img src="./assets/images/backgrounds/gold.png" alt="img" width="150" />

        <mat-card-title class="m-b-0"
          >You reach all Notifications</mat-card-title
        >
        <mat-card-subtitle class="mat-body-1 m-t-8 lh-24 m-b-24"
          >Congratulations, <br />Tap to continue next task.</mat-card-subtitle
        >
        <button mat-flat-button color="primary">Yes, Got it!</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- Dashboard content -->
<div *ngIf="parentStudents.length > 0; else noData">
  <div class="row">
    <div
      class="col-sm-6 col-lg-4"
      *ngFor="let student of parentStudents; let i = index"
    >
      <mat-card class="cardWithShadow">
        <mat-card-content class="text-center p-y-24">
          <img
            [src]="
              student.profileImageUrl ||
              (i % 2 === 0
                ? '/assets/images/profile/user-5.jpg'
                : '/assets/images/profile/user-3.jpg')
            "
            class="rounded-circle"
            width="80"
            alt="Student Image"
          />
          <mat-card-title class="f-s-18 m-b-0 m-t-16">
            {{ student.firstName }} {{ student.lastName }}
          </mat-card-title>
          <mat-card-subtitle class="f-s-12 mat-body-1">{{
            student.grade
          }}</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions class="b-t-1 p-y-0 d-flex justify-content-center">
          <button
            mat-flat-button
            color="primary"
            class="w-100 m-t-24 m-b-24"
            (click)="navigateToStudentDashboard(student.studentId)"
          >
            {{ "View Learning" | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #noData>
  <p class="text-center">
    {{ "No students found for the selected parent." | translate }}
  </p>
</ng-template>
