
// .project-form .modal-body .row {
//   margin-left: 5px;
//   margin-right: 5px;
// }

// .project-form mat-form-field {
//   width: 100%;
// }

.titleMargin
{
  margin-left: 17px !important;
}
.saveButton{
  margin-left: 8px !important;
  margin-right: 8px !important;
}
.saveButtonDivBotomMargin
{
  margin-bottom: 8px !important;
}
.description-container {
  padding-left: 15px;
  padding-right: 13px;
}

