<div class="row">

    <form [formGroup]="form" (ngSubmit)="onSubmit()" role="form">
        <div (click)="isCollapsed = !isCollapsed" class="filter-header p-2">
            <span class="filter-title"><i class="fa fa-search me-2"></i>Advanced Search Filters</span>
            <a [attr.aria-expanded]="!isCollapsed" aria-controls="collapseFilter" style="float:right">
                <i class="fa fa-search" [ngClass]="{'fa-chevron-down': !isCollapsed, 'fa-chevron-up': isCollapsed}"></i>
            </a>
        </div>

        <div id="collapseFilter" [ngbCollapse]="!isCollapsed">
            <div class="filter-content">
                <div class="row">
                   
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                        <div class="form-group">
                            <label>Select Date:</label>
                            <input type="datetime-local" class="form-control" formControlName="appoitmentDate"
                                [attr.max]="maxDate"  placeholder="Select Date">

                            <div
                                *ngIf="form.controls['appoitmentDate'].touched && !form.controls['appoitmentDate'].valid">
                                <span class="text-danger" *ngIf="form.controls['appoitmentDate'].hasError('required')">
                                    Appointment Date is required.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                        <div class="form-group">
                            <label>First Name:</label>
                            <input type="text" class="form-control" formControlName="firstName"
                                placeholder="Enter Last Name">
                            <div *ngIf="form.controls['firstName'].touched && !form.controls['firstName'].valid">
                                <span class="text-danger" *ngIf="form.controls['firstName'].hasError('required')">
                                    First Name is required.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                        <div class="form-group">
                            <label>Last Name:</label>
                            <input type="text" class="form-control" formControlName="lasttName"
                                placeholder="Enter Last Name">
                            <div *ngIf="form.controls['lasttName'].touched && !form.controls['lasttName'].valid">
                                <span class="text-danger" *ngIf="form.controls['lasttName'].hasError('required')">
                                    First Name is required.
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                        <div class="form-group">
                            <label>City:</label>
                            <input type="text" class="form-control" formControlName="city" placeholder="Enter City">
                            <div *ngIf="form.controls['city'].touched && !form.controls['city'].valid">
                                <span class="text-danger" *ngIf="form.controls['city'].hasError('required')">
                                    City is required.
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                        <div class="form-group">
                            <label>CNIC:</label>
                            <input type="text" class="form-control" formControlName="cnic" placeholder="Enter City">
                            <div *ngIf="form.controls['cnic'].touched && !form.controls['cnic'].valid">
                                <span class="text-danger" *ngIf="form.controls['cnic'].hasError('required')">
                                    City is required.
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                        <div class="form-group">
                            <label>Phone Number:</label>
                            <input type="text" class="form-control" formControlName="phoneNumber"
                                placeholder="Enter Mobile Number">
                            <div *ngIf="form.controls['phoneNumber'].touched && !form.controls['phoneNumber'].valid">
                                <span class="text-danger" *ngIf="form.controls['phoneNumber'].hasError('required')">
                                    Mobile Number is required.
                                </span>
                            </div>
                        </div>
                    </div>

                   

                </div>

                <div class="row mt-2">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="form-group mb-0 d-flex align-items-center">
                            <button class="mb-2 me-2 btn-icon btn-shadow btn btn-primary"
                                [ngClass]="{'m-loader m-loader--right m-loader--info': loading}" type="submit"
                                [disabled]="!form.valid">
                                <i class="fa fa-search"></i> Search
                            </button>
                            <button class="mb-2 mr-2 btn-icon btn-shadow btn btn-outline-danger" type="reset"
                                (click)="resetTable()">
                                <i class="fa fa-close"></i> Reset
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="material striped table-container">
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

    <!-- Scrollable Table Wrapper -->
    <div class="table-wrapper">
        <table class="striped-table" mat-table [dataSource]="dataSource" matSort (matSortChange)="onSort($event)">
            <!-- Table Columns -->
            <ng-container matColumnDef="sn.">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let patient">{{ patient.serialNo }}</td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let patient">
                    <mat-slide-toggle [disabled]="loading" [checked]="patient.status == 1"
                        (change)="updateStatus($event.checked, patient)">
                        <i class="fa fa-spinner fa-pulse" *ngIf="loading"></i>
                    </mat-slide-toggle>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="wide-column"> Actions </th>
                <td mat-cell *matCellDef="let patient">
                    <button mat-icon-button class="action-button" color="primary"
                        (click)="viewPatientAppointment(patient.prescriptionId)" matTooltip="View">
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" *ngIf="patient.status == 1"
                        (click)="AddEdit(patient)" matTooltip="Edit">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" *ngIf="patient.status == 1"
                    (click)="printPatientCheckUpDescription(content,patient.prescriptionId)" matTooltip="Print">
                    <mat-icon>print</mat-icon>
                </button>
                </td>
            </ng-container>
            <!-- doctor coloum -->
            <ng-container matColumnDef="doctorName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> doctor Name </th>
                <td mat-cell *matCellDef="let patient"> {{ patient?.doctorName }} </td>
            </ng-container>
             <!-- fisrtName   coloum -->
            <ng-container matColumnDef="fisrtName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                <td mat-cell *matCellDef="let patient"> {{ patient?.firstName }} </td>
            </ng-container>
              <!-- lastName   coloum -->
              <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                <td mat-cell *matCellDef="let patient"> {{ patient?.lastName }} </td>
            </ng-container>
             <!-- cnic coloum -->
             <ng-container matColumnDef="cnic">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CNIC </th>
                <td mat-cell *matCellDef="let patient"> {{ patient?.patientCnic }} </td>
            </ng-container>
             <!-- city coloum -->
             <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
                <td mat-cell *matCellDef="let patient"> {{ patient?.patientCity }} </td>
            </ng-container>
               <!-- phone coloum -->
               <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
                <td mat-cell *matCellDef="let patient"> {{ patient?.patientPhoneNumber }} </td>
            </ng-container>
            <!-- appointmentDate coloum -->
            <ng-container matColumnDef="appointmentDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Appointment Date (YY-MM-DD)</th>
                <td mat-cell *matCellDef="let patient"> {{ patient?.appointmentDate | date: 'yyyy-MM-dd' }} </td>
            </ng-container>
         


            <!-- <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                <td mat-cell *matCellDef="let patient"> {{ patient.lastName }} </td>
            </ng-container>

            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef> Gender </th>
                <td mat-cell *matCellDef="let patient"> {{ patient?.gender }} </td>
            </ng-container>

            <ng-container matColumnDef="cnic">
                <th mat-header-cell *matHeaderCellDef> CNIC </th>
                <td mat-cell *matCellDef="let patient"> {{ patient?.cnic }} </td>
            </ng-container>

            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef> City </th>
                <td mat-cell *matCellDef="let patient"> {{ patient?.city }} </td>
            </ng-container>

            <ng-container matColumnDef="patientPhoneNumber">
                <th mat-header-cell *matHeaderCellDef> Phone Number </th>
                <td mat-cell *matCellDef="let patient"> {{ patient?.patientPhoneNumber }} </td>
            </ng-container>

            <ng-container matColumnDef="doctoerName">
                <th mat-header-cell *matHeaderCellDef> Doctor Name </th>
                <td mat-cell *matCellDef="let patient"> {{ patient?.doctorName }} </td>
            </ng-container> -->

            <!-- Header Row -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

            <!-- Data Rows -->
            <tr mat-row *matRowDef="let patient; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td style="text-align: center;" class="mat-cell" [attr.colspan]="displayedColumns.length">
                    No data found.
                </td>
            </tr>
        </table>
    </div>

    <!-- Paginator -->
    <mat-paginator [length]="count" (page)="onPaginate($event)" [pageSize]="tableParams.limit" showFirstLastButtons
        [pageSizeOptions]="[5, 10, 25, 50, 100]">
    </mat-paginator>
</div>




<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-body">
        <div class="outer-border" id="print">
            <div class="inner-dotted-border">
                <div class="container font-style-print">
       
       
                    <div class="row p-y-15">
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                        <span class="f-w-600 f-s-15 mat-body-1">Patient First Name: </span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.firstName  || 'N/A'}}
                        </h6>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12  middleColoumStyle">
                        <span class="f-w-600 f-s-15 mat-body-1">Patient Last Name: </span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.lastName  || 'N/A'}}
                        </h6>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 lastColoumStyle ">
                        <span class="f-w-600 f-s-15 mat-body-1">Cnic:</span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.cnic || 'N/A' }}
                        </h6>
                      </div>
                      
                    </div>
                    <div class="row p-y-15">
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                        <span class="f-w-600 f-s-15 mat-body-1">Phone Number: </span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.phoneNumber  || 'N/A'}}
                        </h6>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 middleColoumStyle">
                        <span class="f-w-600 f-s-15 mat-body-1">City: </span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.city  || 'N/A'}}
                        </h6>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 lastColoumStyle ">
                        <span class="f-w-600 f-s-15 mat-body-1">Age: </span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.age  || 'N/A'}}
                        </h6>
                      </div>
                    </div>
                 
                    <div class="row p-y-15">
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                        <span class="f-w-600 f-s-15 mat-body-1">Left Vision: </span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.leftVision  || 'N/A'}}
                        </h6>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 middleColoumStyle">
                        <span class="f-w-600 f-s-15 mat-body-1">
                          <strong style="text-decoration: underline;">Vision</strong>
                        </span>
                      </div>
                      
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 lastColoumStyle">
                        <span class="f-w-600 f-s-15 mat-body-1">Right Vision: </span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.rightVision  || 'N/A'}}
                        </h6>
                      </div>
                    </div>
                    <div class="row p-y-15">
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 ">
                        <span class="f-w-600 f-s-15 mat-body-1">Left MG: </span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.leftMG  || 'N/A'}}
                        </h6>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 middleColoumStyle">
                        <span class="f-w-600 f-s-15 mat-body-1">
                          <strong style="text-decoration: underline;">MG</strong>
                        </span>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 lastColoumStyle">
                        <span class="f-w-600 f-s-15 mat-body-1">Right MG: </span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.rightMG  || 'N/A'}}
                        </h6>
                      </div>
                    </div>
                    <div class="row p-y-15">
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                        <span class="f-w-600 f-s-15 mat-body-1">Left EOM: </span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.leftEOM  || 'N/A'}}
                        </h6>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 middleColoumStyle">
                        <span class="f-w-600 f-s-15 mat-body-1">
                          <strong style="text-decoration: underline;">EOM</strong>
                        </span>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 lastColoumStyle">
                        <span class="f-w-600 f-s-15 mat-body-1">Right EOM: </span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.rightEOM  || 'N/A'}}
                        </h6>
                      </div>
                    </div>
                    <div class="row p-y-15">
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                        <span class="f-w-600 f-s-15 mat-body-1">Left Ortho: </span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.leftOrtho  || 'N/A'}}
                        </h6>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 middleColoumStyle">
                        <span class="f-w-600 f-s-15 mat-body-1">
                          <strong style="text-decoration: underline;">ORTHO</strong>
                        </span>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 lastColoumStyle">
                        <span class="f-w-600 f-s-15 mat-body-1">Right Ortho: </span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.rightOrtho  || 'N/A'}}
                        </h6>
                      </div>
                    </div>
                    <div class="row p-y-15">
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 ">
                        <span class="f-w-600 f-s-15 mat-body-1">Left Tension: </span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.leftTension  || 'N/A'}}
                        </h6>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 middleColoumStyle">
                        <span class="f-w-600 f-s-15 mat-body-1">
                          <strong style="text-decoration: underline;">TENSION</strong>
                        </span>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 lastColoumStyle">
                        <span class="f-w-600 f-s-15 mat-body-1">Right Tension: </span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.rightTension  || 'N/A'}}
                        </h6>
                      </div>
                    </div>
                    <div class="row p-y-15">
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                        <span class="f-w-600 f-s-15 mat-body-1">Left AntSegment: </span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.leftAntSegment  || 'N/A'}}
                        </h6>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 middleColoumStyle">
                        <span class="f-w-600 f-s-15 mat-body-1">
                          <strong style="text-decoration: underline;">ANTSEGMENT</strong>
                        </span>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 lastColoumStyle">
                        <span class="f-w-600 f-s-15 mat-body-1">Right AntSegment: </span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.rightAntSegment  || 'N/A'}}
                        </h6>
                      </div>
                    </div>
                    <div class="row p-y-15">
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                        <span class="f-w-600 f-s-15 mat-body-1">Left Disc: </span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.leftDisc  || 'N/A'}}
                        </h6>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 middleColoumStyle">
                        <span class="f-w-600 f-s-15 mat-body-1">
                          <strong style="text-decoration: underline;">DISC</strong>
                        </span>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 lastColoumStyle">
                        <span class="f-w-600 f-s-15 mat-body-1">Right Disc: </span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.rightDisc  || 'N/A'}}
                        </h6>
                      </div>
                    </div>
                    <div class="row p-y-15">
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 ">
                        <span class="f-w-600 f-s-15 mat-body-1">Left Macula: </span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.leftMacula  || 'N/A'}}
                        </h6>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 middleColoumStyle">
                        <span class="f-w-600 f-s-15 mat-body-1">
                          <strong style="text-decoration: underline;">MACULA</strong>
                        </span>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 lastColoumStyle">
                        <span class="f-w-600 f-s-15 mat-body-1">Right Macula: </span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.rightMacula  || 'N/A'}}
                        </h6>
                      </div>
                    </div>
                    <div class="row p-y-15">
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 ">
                        <span class="f-w-600 f-s-15 mat-body-1">Left Periphery: </span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.leftPeriphery  || 'N/A'}}
                        </h6>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 middleColoumStyle">
                        <span class="f-w-600 f-s-15 mat-body-1">
                          <strong style="text-decoration: underline;">PERIPHERY</strong>
                        </span>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 lastColoumStyle">
                        <span class="f-w-600 f-s-15 mat-body-1">Right Periphery: </span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.rightPeriphery  || 'N/A'}}
                        </h6>
                      </div>
                    </div>
                    <div class="row p-y-15">
                        <span class="f-w-600 f-s-15 mat-body-1">Complaint: </span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.complaint  || 'N/A'}}
                        </h6>
                    </div>
                    <div class="row">
                        <span class="f-w-600 f-s-15 mat-body-1">Diagnosis: </span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.diagnosis  || 'N/A'}}
                        </h6>
                    </div>
                    <div class="row p-y-15">
                      <span class="f-w-600 f-s-15 mat-body-1">Plan: </span>
                      <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                        {{ patientAppointmentCheckUpDescription?.plan  || 'N/A'}}
                      </h6>
                  </div>
                    
                    <div class="medicine-history-section">
                      <h4 class="mb-2">Prescribed Medicines</h4>
                    
                      <ng-container *ngIf="patientAppointmentCheckUpDescription?.medicine?.length > 0; else noMedicine">
                        <table class="table table-bordered table-striped">
                          <thead class="table-secondary">
                            <tr>
                              <th>#</th>
                              <th>Medicine Name</th>
                              <th>Morning</th>
                              <th>Afternoon</th>
                              <th>Evening</th>
                              <th>Night</th>
                              <th>Repeat/1hr</th>
                              <th>Repeat/2hr</th>
                              <th>Duration (Days)</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let med of patientAppointmentCheckUpDescription.medicine; let i = index">
                              <td>{{ i + 1 }}</td>
                              <td>{{ med.medicineName }}</td>
                              <td>{{ med.morning ? '✔️' : '❌' }}</td>
                              <td>{{ med.afternoon ? '✔️' : '❌' }}</td>
                              <td>{{ med.evening ? '✔️' : '❌' }}</td>
                              <td>{{ med.night ? '✔️' : '❌' }}</td>
                              <td>{{ med.repeatEveryHours ? '✔️' : '❌' }}</td>
                              <td>{{ med.repeatEveryTwoHours ? '✔️' : '❌' }}</td>
                              <td>{{ med.durationInDays || '-' }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </ng-container>
                    
                      <ng-template #noMedicine>
                        <p class="text-muted">No medicine data available.</p>
                      </ng-template>
                    </div>
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="mb-2 mr-2 btn-icon btn-shadow  btn btn-outline-secondary" type="button" [disabled]="loading"
            (click)="c('Cross click')">
            <i class="ft-x"></i> Cancel
        </button>
        <button class="mb-2 me-2 btn-icon btn-shadow  btn btn-outline-primary" type="button"
            [ngClass]="{'m-loader m-loader--right m-loader--info': loading}" (click)="onPrint()">
            <i class="fa fa-check-square-o"></i> Download
        </button>
    </div>
</ng-template>