.status-icon {
    margin-top: 12px; /* Adjust as needed */
}
.table-wrapper {
    width: 100%;
    overflow-x: auto; /* Enables horizontal scrolling */
    white-space: nowrap; /* Prevents text wrapping */
}

.striped-table {
    min-width: 1000px; /* Ensures table does not shrink too much */
    width: 100%;
}

/* Adjusting column width */
.wide-column {
    min-width: 200px;  /* Increase width for CNIC and Appointment Time */
}

/* Ensure columns take width according to content */
.mat-column-cnic,.mat-column-city,.mat-column-doctorName,.mat-column-fisrtName,.mat-column-lastName,.mat-column-phoneNumber,
.mat-column-actions,.mat-column-plan
 {
    width: auto;
    min-width: fit-content; /* Adjusts based on content */
    white-space: nowrap; /* Prevents wrapping */
    padding: 8px 16px; /* Adds some spacing */
}


