<div class="row">

    <form [formGroup]="form" (ngSubmit)="onSubmit()" role="form">
        <div (click)="isCollapsed = !isCollapsed" class="filter-header p-2">
            <span class="filter-title"><i class="fa fa-search me-2"></i>Advanced Search Filters</span>
            <a [attr.aria-expanded]="!isCollapsed" aria-controls="collapseFilter" style="float:right">
                <i class="fa fa-search" [ngClass]="{'fa-chevron-down': !isCollapsed, 'fa-chevron-up': isCollapsed}"></i>
            </a>
        </div>

        <div id="collapseFilter" [ngbCollapse]="!isCollapsed">
            <div class="filter-content">
                <div class="row">
                    <!-- Appointment Date -->
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                      <mat-form-field appearance="outline" class="w-100 ">
                        <mat-label>Select Appointment Date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="appoitmentDate" [max]="maxDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="form.controls['appoitmentDate'].hasError('required')">
                          Appointment Date is required.
                        </mat-error>
                      </mat-form-field>
                    </div>
                  
                    <!-- First Name -->
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="firstName" placeholder="Enter First Name">
                        <mat-error *ngIf="form.controls['firstName'].hasError('required')">
                          First Name is required.
                        </mat-error>
                      </mat-form-field>
                    </div>
                  
                    <!-- Last Name -->
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lasttName" placeholder="Enter Last Name">
                        <mat-error *ngIf="form.controls['lasttName'].hasError('required')">
                          Last Name is required.
                        </mat-error>
                      </mat-form-field>
                    </div>
                  
                    <!-- City -->
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>City</mat-label>
                        <input matInput formControlName="city" placeholder="Enter City">
                        <mat-error *ngIf="form.controls['city'].hasError('required')">
                          City is required.
                        </mat-error>
                      </mat-form-field>
                    </div>
                  
                    <!-- CNIC -->
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>CNIC</mat-label>
                        <input matInput formControlName="cnic" placeholder="Enter CNIC">
                        <mat-error *ngIf="form.controls['cnic'].hasError('required')">
                          CNIC is required.
                        </mat-error>
                      </mat-form-field>
                    </div>
                  
                    <!-- Phone Number -->
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Phone Number</mat-label>
                        <input matInput formControlName="phoneNumber" placeholder="Enter Mobile Number">
                        <mat-error *ngIf="form.controls['phoneNumber'].hasError('required')">
                          Mobile Number is required.
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  
                  <!-- Buttons -->
                  <div class="row mt-2">
                    <div class="col-12">
                      <div class="form-group mb-0 d-flex align-items-center">
                        <button class="mb-2 me-2 btn-icon btn-shadow btn btn-primary"
                          [ngClass]="{ 'm-loader m-loader--right m-loader--info': loading }" type="submit"
                          [disabled]="!form.valid">
                          <i class="fa fa-search"></i> Search
                        </button>
                        <button class="mb-2 mr-2 btn-icon btn-shadow btn btn-outline-danger" type="reset"
                          (click)="resetTable()">
                          <i class="fa fa-close"></i> Reset
                        </button>
                      </div>
                    </div>
                  </div>
                  
            </div>
        </div>
    </form>
</div>

<div class="material striped table-container">
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

    <!-- Scrollable Table Wrapper -->
    <div class="table-wrapper">
        <table class="striped-table" mat-table [dataSource]="dataSource" matSort (matSortChange)="onSort($event)">
            <!-- Table Columns -->
            <ng-container matColumnDef="sn.">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let patient">{{ patient.serialNo }}</td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let patient">
                    <mat-slide-toggle [disabled]="loading" [checked]="patient.status == 1"
                        (change)="updateStatus($event.checked, patient)">
                        <i class="fa fa-spinner fa-pulse" *ngIf="loading"></i>
                    </mat-slide-toggle>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="wide-column"> Actions </th>
                <td mat-cell *matCellDef="let patient">
                    <button mat-icon-button class="action-button" color="primary"
                        (click)="viewPatientAppointment(patient.prescriptionId)" matTooltip="View">
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" *ngIf="patient.status == 1"
                        (click)="AddEdit(patient)" matTooltip="Edit">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" *ngIf="patient.status == 1"
                    (click)="printPatientCheckUpDescription(content,patient.prescriptionId)" matTooltip="Print">
                    <mat-icon>print</mat-icon>
                </button>
                </td>
            </ng-container>
            <!-- doctor coloum -->
            <ng-container matColumnDef="doctorName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> doctor Name </th>
                <td mat-cell *matCellDef="let patient"> {{ patient?.doctorName }} </td>
            </ng-container>
             <!-- fisrtName   coloum -->
            <ng-container matColumnDef="fisrtName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                <td mat-cell *matCellDef="let patient"> {{ patient?.firstName }} </td>
            </ng-container>
              <!-- lastName   coloum -->
              <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                <td mat-cell *matCellDef="let patient"> {{ patient?.lastName }} </td>
            </ng-container>
             <!-- cnic coloum -->
             <ng-container matColumnDef="cnic">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CNIC </th>
                <td mat-cell *matCellDef="let patient"> {{ patient?.patientCnic }} </td>
            </ng-container>
             <!-- city coloum -->
             <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
                <td mat-cell *matCellDef="let patient"> {{ patient?.patientCity }} </td>
            </ng-container>
               <!-- phone coloum -->
               <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
                <td mat-cell *matCellDef="let patient"> {{ patient?.patientPhoneNumber }} </td>
            </ng-container>
            <!-- appointmentDate coloum -->
            <ng-container matColumnDef="appointmentDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Appointment Date (YY-MM-DD)</th>
                <td mat-cell *matCellDef="let patient"> {{ patient?.appointmentDate | date: 'yyyy-MM-dd' }} </td>
            </ng-container>
         


            <!-- <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                <td mat-cell *matCellDef="let patient"> {{ patient.lastName }} </td>
            </ng-container>

            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef> Gender </th>
                <td mat-cell *matCellDef="let patient"> {{ patient?.gender }} </td>
            </ng-container>

            <ng-container matColumnDef="cnic">
                <th mat-header-cell *matHeaderCellDef> CNIC </th>
                <td mat-cell *matCellDef="let patient"> {{ patient?.cnic }} </td>
            </ng-container>

            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef> City </th>
                <td mat-cell *matCellDef="let patient"> {{ patient?.city }} </td>
            </ng-container>

            <ng-container matColumnDef="patientPhoneNumber">
                <th mat-header-cell *matHeaderCellDef> Phone Number </th>
                <td mat-cell *matCellDef="let patient"> {{ patient?.patientPhoneNumber }} </td>
            </ng-container>

            <ng-container matColumnDef="doctoerName">
                <th mat-header-cell *matHeaderCellDef> Doctor Name </th>
                <td mat-cell *matCellDef="let patient"> {{ patient?.doctorName }} </td>
            </ng-container> -->

            <!-- Header Row -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

            <!-- Data Rows -->
            <tr mat-row *matRowDef="let patient; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td style="text-align: center;" class="mat-cell" [attr.colspan]="displayedColumns.length">
                    No data found.
                </td>
            </tr>
        </table>
    </div>

    <!-- Paginator -->
    <mat-paginator [length]="count" (page)="onPaginate($event)" [pageSize]="tableParams.limit" showFirstLastButtons
        [pageSizeOptions]="[5, 10, 25, 50, 100]">
    </mat-paginator>
</div>




<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-body">
        <div class="outer-border" id="print">
            <div class="inner-dotted-border">
                <div class="container font-style-print">
       
       
                    <div class="row p-y-15">
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                        <span class="f-w-600 f-s-15 mat-body-1">Patient Name: </span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.firstName }}{{patientAppointmentCheckUpDescription?.lastName}}
                        </h6>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12  middleColoumStyle">
                        <span class="f-w-600 f-s-15 mat-body-1">Date: </span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.createdAt  | date :"yyyy:MM:dd"}}
                        </h6>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12 lastColoumStyle ">
                        <span class="f-w-600 f-s-15 mat-body-1">Age:</span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.age || 'N/A' }}
                        </h6>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12 lastColoumStyle ">
                        <span class="f-w-600 f-s-15 mat-body-1">TrackingNumber:</span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.trackingNumber || 'N/A' }}
                        </h6>
                      </div>
                      
                    </div>
                   
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th style="width: 33%;">Left</th>
                          <th style="width: 34%; text-align: center;">Description</th>
                          <th style="width: 33%;">Right</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ patientAppointmentCheckUpDescription?.leftVision || 'N/A' }}</td>
                          <td style="text-align: center;"><strong>Vision</strong></td>
                          <td>{{ patientAppointmentCheckUpDescription?.rightVision || 'N/A' }}</td>
                        </tr>
                        <tr>
                          <td>{{ patientAppointmentCheckUpDescription?.leftMG || 'N/A' }}</td>
                          <td style="text-align: center;"><strong>MG</strong></td>
                          <td>{{ patientAppointmentCheckUpDescription?.rightMG || 'N/A' }}</td>
                        </tr>
                        <tr>
                          <td>{{ patientAppointmentCheckUpDescription?.leftEOM || 'N/A' }}</td>
                          <td style="text-align: center;"><strong>EOM</strong></td>
                          <td>{{ patientAppointmentCheckUpDescription?.rightEOM || 'N/A' }}</td>
                        </tr>
                        <tr>
                          <td>{{ patientAppointmentCheckUpDescription?.leftOrtho || 'N/A' }}</td>
                          <td style="text-align: center;"><strong>ORTHO</strong></td>
                          <td>{{ patientAppointmentCheckUpDescription?.rightOrtho || 'N/A' }}</td>
                        </tr>
                        <tr>
                          <td>{{ patientAppointmentCheckUpDescription?.leftTension || 'N/A' }}</td>
                          <td style="text-align: center;"><strong>TENSION</strong></td>
                          <td>{{ patientAppointmentCheckUpDescription?.rightTension || 'N/A' }}</td>
                        </tr>
                        <tr>
                          <td>{{ patientAppointmentCheckUpDescription?.leftAntSegment || 'N/A' }}</td>
                          <td style="text-align: center;"><strong>ANTSEGMENT</strong></td>
                          <td>{{ patientAppointmentCheckUpDescription?.rightAntSegment || 'N/A' }}</td>
                        </tr>
                        <tr>
                          <td>{{ patientAppointmentCheckUpDescription?.leftDisc || 'N/A' }}</td>
                          <td style="text-align: center;"><strong>DISC</strong></td>
                          <td>{{ patientAppointmentCheckUpDescription?.rightDisc || 'N/A' }}</td>
                        </tr>
                        <tr>
                          <td>{{ patientAppointmentCheckUpDescription?.leftMacula || 'N/A' }}</td>
                          <td style="text-align: center;"><strong>MACULA</strong></td>
                          <td>{{ patientAppointmentCheckUpDescription?.rightMacula || 'N/A' }}</td>
                        </tr>
                        <tr>
                          <td>{{ patientAppointmentCheckUpDescription?.leftPeriphery || 'N/A' }}</td>
                          <td style="text-align: center;"><strong>PERIPHERY</strong></td>
                          <td>{{ patientAppointmentCheckUpDescription?.rightPeriphery || 'N/A' }}</td>
                        </tr>
                      </tbody>
                    </table>
                    

                    <div class="row p-y-15">
                        <span class="f-w-600 f-s-15 mat-body-1">Complaint: </span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.complaint  || 'N/A'}}
                        </h6>
                    </div>
                    <div class="row">
                        <span class="f-w-600 f-s-15 mat-body-1">Diagnosis: </span>
                        <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                          {{ patientAppointmentCheckUpDescription?.diagnosis  || 'N/A'}}
                        </h6>
                    </div>
                    <div class="row p-y-15">
                      <span class="f-w-600 f-s-15 mat-body-1">Plan: </span>
                      <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
                        {{ patientAppointmentCheckUpDescription?.plan  || 'N/A'}}
                      </h6>
                  </div>
                    
                    <div class="medicine-history-section">
                      <h4 class="mb-2">Prescribed Medicines</h4>
                    
                      <ng-container *ngIf="patientAppointmentCheckUpDescription?.medicine?.length > 0; else noMedicine">
                        <table class="table table-bordered table-striped">
                          <thead class="table-secondary">
                            <tr>
                              <th>#</th>
                              <th>Medicine Name /دوا کا نام</th>
                              <th>Morning/صبح</th>
                              <th>Afternoon/دوپہر</th>
                              <th>Evening/شام</th>
                              <th>Night/رات</th>
                              <th>Every Hours / ہر گھنٹے بعد</th>
                              <th>Every Two Hours / ہر دو گھنٹے بعد</th>
                              <th>Days / دن</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let med of patientAppointmentCheckUpDescription.medicine; let i = index">
                              <td>{{ i + 1 }}</td>
                              <td>{{ med.medicineName }} {{ med.potency }}</td>
                              <td>{{ med.morning ? '✔️' : '❌' }}</td>
                              <td>{{ med.afternoon ? '✔️' : '❌' }}</td>
                              <td>{{ med.evening ? '✔️' : '❌' }}</td>
                              <td>{{ med.night ? '✔️' : '❌' }}</td>
                              <td>{{ med.repeatEveryHours ? '✔️' : '❌' }}</td>
                              <td>{{ med.repeatEveryTwoHours ? '✔️' : '❌' }}</td>
                              <td>{{ med.durationInDays || '-' }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </ng-container>
                    
                      <ng-template #noMedicine>
                        <p class="text-muted">No medicine data available.</p>
                      </ng-template>
                    </div>
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="mb-2 mr-2 btn-icon btn-shadow  btn btn-outline-secondary" type="button" [disabled]="loading"
            (click)="c('Cross click')">
            <i class="ft-x"></i> Cancel
        </button>
        <button class="mb-2 me-2 btn-icon btn-shadow  btn btn-outline-primary" type="button"
            [ngClass]="{'m-loader m-loader--right m-loader--info': loading}" (click)="onPrint()">
            <i class="fa fa-check-square-o"></i> Download
        </button>
    </div>
</ng-template>