<div *ngIf="isLoading" class="loading-spinner-overlay">
  <mat-spinner></mat-spinner>
</div>
<div class="col-12" >
    <mat-card-header>
      <mat-card-title>
        <h2>Payment Receipt</h2>
      </mat-card-title>
      <mat-card-subtitle>
        <p>Receipt #: {{ studentPayment.paperRecptNumber }}</p>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="receipt-section">
        <div class="receipt-item">
          <span class="label">Payment Date:</span>
          <span>{{ studentPayment.paymentDate | date : "medium" }}</span>
        </div>
        <div class="receipt-item">
          <span class="label">Payee Name:</span>
          <span>{{ studentPayment.payeeName }}</span>
        </div>
        <div class="receipt-item">
          <span class="label">Payee Number:</span>
          <span>{{ studentPayment.payeeNumber }}</span>
        </div>
        <div class="receipt-item">
          <span class="label">Received By:</span>
          <span>{{ studentPayment.receivedBy }}</span>
        </div>
        <div class="receipt-item">
          <span class="label">Amount Paid:</span>
          <span>{{ studentPayment.amount }} {{ studentPayment.currency }}</span>
        </div>
        <div class="receipt-item" *ngIf="studentPayment.notes">
          <span class="label">Notes:</span>
          <span>{{ studentPayment.notes }}</span>
        </div>
      </div>
    </mat-card-content>

    <mat-card-footer>
      <p class="created-on">
        Created On: {{ studentPayment.createdOn | date : "medium" }}
      </p>
    </mat-card-footer>
    <button mat-flat-button (click)="close()">Ok</button>
</div>
