<div *ngIf="loading" class="loader">
  <!-- Loader: can be a spinner or any visual representation of loading -->
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading && invoiceDto" class="invoice-container">
  <h1>Invoice #{{ invoiceDto.invoice.vendorInvoiceNumber }}</h1>
  <div class="invoice-details">
    <div>
      <strong>Vendor Name: </strong>{{ vendor.name }} -
      {{ vendor.contactPersonName }}
    </div>
    <div>
      <strong>Amount:</strong> {{ invoiceDto.invoice.amount | currency }}
    </div>
    <div>
      <strong>Invoice Date:</strong> {{ invoiceDto.invoice.invoiceDate | date }}
    </div>
    <div>
      <strong>Due Date:</strong> {{ invoiceDto.invoice.dueDate | date }}
    </div>
    <div>
      <strong>Status:</strong>
      {{ invoiceDto.invoice.isOutStanding ? "Outstanding" : "Paid" }}
    </div>
  </div>

  <h2>Invoice Items</h2>
  <table class="invoice-items">
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of invoiceDto.invoiceItems">
        <td>{{ item.itemName }}</td>
        <td>{{ item.itemDescription }}</td>
        <td>{{ item.qty }}</td>
        <td>{{ item.itemPrice | currency }}</td>
        <td>{{ item.itemsTotal | currency }}</td>
      </tr>
    </tbody>
  </table>

  <h2>Payments</h2>
  <div
    *ngIf="
      invoiceDto &&
        invoiceDto.payOuts &&
        invoiceDto.payOuts.length &&
        invoiceDto.payOuts.length > 0;
      else noPayments
    "
  >
    <table class="payouts-table">
      <thead>
        <tr>
          <th>Payment Date</th>
          <th>Amount</th>
          <th>Paid By</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let payout of invoiceDto.payOuts">
          <td>{{ payout.paidOn | date }}</td>
          <td>{{ payout.amount | currency }}</td>
          <td>{{ payout.paidBy }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-right m-t-30">
    <h5 class="m-b-5 f-w-600 f-s-16">
      Sub total:{{totalAmount | currency:'USD'}}
    </h5>
    <span class="f-w-600 f-s-16">Vat: 10%</span>
    <h3 class="m-b-0 b-t-1 p-t-20 f-s-18">
      Grand Total: {{totalAmount | currency:'USD'}}
    </h3>
  </div>
  <ng-template #noPayments>
    <p>No payments made yet.</p>
  </ng-template>
</div>
