<div *ngIf="isLoading" class="loading-spinner-overlay">
    <mat-spinner></mat-spinner>
</div>
<mat-tab-group mat-stretch-tabs="false" animationDuration="0ms" class="theme-tab label-padding">

    <mat-tab>
      
            <ng-template mat-tab-label>
                <div class="d-flex align-items-center">
                    <mat-icon>
                        <i-tabler name="user-circle" class="icon-20 m-r-8"></i-tabler>
                    </mat-icon>
                </div>
                {{'Student' | translate}}
            </ng-template>
            <mat-card-content>
                <div class="row" *ngIf="studentData">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="b-1 rounded p-30 same-height">
                            <mat-card-title>{{'Change Profile' | translate}}</mat-card-title>
                            <mat-card-subtitle class="mat-body-1">{{'Change your profile picture from here' | translate}}</mat-card-subtitle>
                            <div class="text-center m-t-24">
                                <img src="/assets/images/profile/user-1.jpg" class="rounded-circle" width="120" />
                                <div class="m-t-24">
                                    <button mat-flat-button color="primary" class="m-r-8">
                                        {{'Upload' | translate}}
                                    </button>
                                    <button mat-stroked-button color="warn">{{'Reset' | translate}}</button>
                                </div>
                                <span class="f-s-14 m-t-24 d-block">{{'Allowed JPG, GIF or PNG. Max size of 800K' | translate}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                        <div class="p-30 b-1 rounded same-height">
                            <!-- input -->         
                              <mat-label class="f-w-600 m-b-8 d-block">{{'First Name' | translate}}</mat-label>                            
                            <span class="mb-6 custom-span">{{studentData.firstName || 'N/A'}}</span>
                            <!-- input -->
                            <mat-label class="f-w-600 m-b-8 d-block">{{'Middle Name' | translate}}</mat-label>
                            <span class="mb-6 custom-span">{{ studentData.middleName && studentData.middleName.trim() ? studentData.middleName : 'N/A' }}</span>

                            <!-- input -->
                            <mat-label class="f-w-600 m-b-8 d-block">{{'Last Name' | translate}}</mat-label>
                            <span class="mb-6 custom-span">{{studentData.lastName}}</span>
                            <mat-label class="f-w-600 m-b-8 d-block phoneNumberMargin">{{'Grand Parent Name' | translate}}</mat-label>
                            <span class="mb-6 custom-span">{{ studentData.grandParentName && studentData.grandParentName.trim() ? studentData.grandParentName : 'N/A' }}</span>



                        </div>
                    </div>
                    <div class="col-12 classMarginTop">
                        <div class="b-1 rounded p-30">
                            <div class="row m-t-24">
                                <div class="col-sm-6">
                                    <!-- input -->
                                    <mat-label class="f-w-600 m-b-8 d-block">{{'Country Code' | translate}}</mat-label>
                                    <span class="mb-6 custom-span">{{ studentData.countryCode && studentData.countryCode.trim() ? studentData.countryCode : 'N/A' }}</span>


                                    <!-- input -->
                                    <mat-label class="f-w-600 m-b-8 d-block">{{'Social Security' | translate}}</mat-label>
                                    <span class="mb-6 custom-span">{{ studentData.socialSecurity && studentData.socialSecurity.trim() ? studentData.socialSecurity : 'N/A' }}</span>
                                    <!-- input -->
                                    <mat-label class="f-w-600 m-b-8 d-block">{{'Marital Status' | translate}}</mat-label>
                                    <span class="mb-6 custom-span">{{ studentData.maritalStatusText || 'N/A'}}</span>

                                    <!-- input -->
                                    <mat-label class="f-w-600 m-b-8 d-block">{{'Religion' | translate}}</mat-label>
                                    <span class="mb-6 custom-span">{{ studentData.religionText || 'N/A'}}</span>
                                    <!-- input -->
                                    <mat-label class="f-w-600 m-b-8 d-block">{{'Notes' | translate}}</mat-label>
                                    <span class="mb-6 custom-span">{{ studentData.notes || 'N/A'}}</span>
                                    <mat-label class="f-w-600 m-b-8 d-block">{{'Grade Label' | translate}}</mat-label>                            
                                    <span class="mb-6 custom-span">{{studentData.gradeLabel || 'N/A'}}</span>
                                </div>
                                <div class="col-sm-6">
                                    <!-- input -->
                                    <mat-label class="f-w-600 m-b-8 d-block">{{'Phone Number' | translate}}</mat-label>
                                    <span class="mb-6 custom-span">{{ studentData.phoneNumber || 'N/A'}}</span>


                                    <!-- input -->
                                    <mat-label class="f-w-600 m-b-8 d-block">{{'Identification Type' | translate}}</mat-label>
                                    <span class="mb-6 custom-span">{{ studentData.identificationTypeText || 'N/A'}}</span>

                                    <!-- input -->
                                    <mat-label class="f-w-600 m-b-8 d-block">{{'Gender' | translate}}</mat-label>
                                    <span class="mb-6 custom-span">{{ studentData.genderText || 'N/A'}}</span>

                                    <!-- input -->
                                    <mat-label class="f-w-600 m-b-8 d-block">{{'place Of Birth' | translate}}</mat-label>
                                    <span class="mb-6 custom-span">{{ studentData.placeOfBirth}}</span>

                                    <!-- input -->
                                    <mat-label class="f-w-600 m-b-8 d-block">{{'Mother Name' | translate}}</mat-label>
                                    <span class="mb-6 custom-span">{{ studentData.motherName || 'N/A'}}</span>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
  
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <div class="d-flex align-items-center">
              <mat-icon>
                <i-tabler name="user-circle" class="icon-20 m-r-8"></i-tabler>
              </mat-icon>
            </div>
            {{'Parent' | translate}}
          </ng-template>

            <div *ngIf="parentData">
                <div *ngFor="let parentPerson of parentData; let i = index">
                   
                    <mat-card-content>
                        <div class="row">
                            <div class="col-12 classMarginTop">
                                <div class="b-1 rounded p-30">
                                    <div class="row m-t-24">
                                        <div class="col-sm-6">
                                            <!-- input -->
                                            <mat-label class="f-w-600 m-b-8 d-block">{{'First Name' | translate}}</mat-label>
                                            <span class="mb-6 custom-span">{{ parentPerson.firstName || 'N/A'}}</span>


                                            <!-- input -->
                                            <mat-label class="f-w-600 m-b-8 d-block">{{'Country Code' | translate}} </mat-label>
                                            <span class="mb-6 custom-span">{{ parentPerson.countryCode || 'N/A'}}</span>

                                            <!-- input -->
                                            <mat-label class="f-w-600 m-b-8 d-block">{{'Employer Number' | translate}}</mat-label>
                                            <span class="mb-6 custom-span">{{ parentPerson.employerNumber || 'N/A'}}</span>

                                            <!-- input -->
                                            <mat-label class="f-w-600 m-b-8 d-block">{{'Salary' | translate}}</mat-label>
                                            <span class="mb-6 custom-span">{{ parentPerson.salary || 'N/A'}}</span>

                                        </div>
                                        <div class="col-sm-6">
                                            <!-- input -->
                                            <mat-label class="f-w-600 m-b-8 d-block">{{'Last Name' | translate}}</mat-label>
                                            <span class="mb-6 custom-span">{{ parentPerson.lastName || 'N/A'}}</span>


                                            <!-- input -->
                                            <mat-label class="f-w-600 m-b-8 d-block">{{'Phone' | translate}}</mat-label>
                                            <span class="mb-6 custom-span">{{ parentPerson.homePhone || 'N/A'}}</span>

                                            <!-- input -->
                                            <mat-label class="f-w-600 m-b-8 d-block">{{'Employer Address' | translate}}</mat-label>
                                            <span class="mb-6 custom-span">{{ parentPerson.employerAddress || 'N/A'}}</span>

                                            <!-- input -->
                                            <mat-label class="f-w-600 m-b-8 d-block">{{'Emergency Contact' | translate}}</mat-label>
                                            <span class="mb-6 custom-span">{{ parentPerson.emergencyContact || 'N/A'}}</span>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </div>
            </div>
  

    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <div class="d-flex align-items-center">
                <mat-icon>
                    <i-tabler name="user-circle" class="icon-20 m-r-8"></i-tabler>
                </mat-icon>
            </div>
            {{'Account' | translate}}
        </ng-template>
            
            <mat-card-content>
                <div class="row" *ngIf="accountData">
                    <div class="col-12 classMarginTop">
                        <div class="b-1 rounded p-30">
                            <div class="row m-t-24">
                                <div class="col-sm-6">
                                    <!-- input -->
                                    <mat-label class="f-w-600 m-b-8 d-block">{{'Annual Fee' | translate}}</mat-label>
                                    <span class="mb-6 custom-span">{{ accountData.annualFee || 'N/A'}}</span>


                                    <!-- input -->
                                    <mat-label class="f-w-600 m-b-8 d-block">{{'Transportation Fee' | translate}}</mat-label>
                                    <span class="mb-6 custom-span">{{ accountData.transportationFee || 'N/A'}}</span>

                                    <!-- input -->
                                    <mat-label class="f-w-600 m-b-8 d-block">{{'School Year Period' | translate}}</mat-label>
                                    <span class="mb-6 custom-span">{{ accountData.schoolYearPeriodText || 'N/A'}}</span>

                                   
                                </div>
                                <div class="col-sm-6">
                                    <!-- input -->
                                    <mat-label class="f-w-600 m-b-8 d-block">{{'Registration Fee' | translate}}</mat-label>
                                    <span class="mb-6 custom-span">{{ accountData.registrationFee || 'N/A'}}</span>


                                    <!-- input -->
                                    <mat-label class="f-w-600 m-b-8 d-block">{{'Payment Plan Type' | translate}}</mat-label>
                                    <span class="mb-6 custom-span">{{ accountData.paymentPlanTypeText || 'N/A'}}</span>

                                     <!-- input -->
                                     <mat-label class="f-w-600 m-b-8 d-block">{{'Recovery Phone' | translate}}</mat-label>
                                     <span class="mb-6 custom-span">{{ accountData.recoveryPhone || 'N/A'}}</span>

                                   
                                </div>

                            </div>
                            <div class="row m-t-24">
                                <div class="col-sm-6">
                                  <!-- input -->
                                  <mat-label class="f-w-600 m-b-8 d-block">{{'Account Email' | translate}}</mat-label>
                                  <span class="mb-6 custom-span">{{ accountData.accountEmail || 'N/A' }}</span>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>

    </mat-tab>
  
</mat-tab-group>