<mat-card class="cardWithShadow">
  <div class="row justify-content-between">
    <div class="col-lg-4">
      <mat-form-field appearance="outline" class="w-100 hide-hint">
        <input
          matInput
          placeholder="{{ 'Search Route' | translate }}"
          (keyup)="filterData($event)"
        />
        <mat-icon matSuffix>
          <i-tabler name="search" class="icon-20"></i-tabler>
        </mat-icon>
      </mat-form-field>
    </div>
    <div class="col-lg-4 d-flex align-items-center justify-content-end">
      <button
        mat-flat-button
        (click)="createBusRoutes()"
        color="primary"
        class="m-r-10"
      >
        {{ "Add" | translate }}
      </button>
      <button
        mat-flat-button
        color="warn"
        [disabled]="selectedRows.selected.length === 0"
        (click)="deleteSelectedBusRoutes()"
      >
        {{ "Delete Selected Routes" | translate }}
      </button>
    </div>
  </div>
</mat-card>
<div *ngIf="isLoading" class="loading-spinner-overlay">
  <mat-spinner></mat-spinner>
</div>

<mat-card class="cardWithShadow">
  <div class="table-responsive">
    <table mat-table [dataSource]="BusRoutes" class="w-100">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? toggleAllRows() : null"
            [checked]="selectedRows.hasValue() && isAllSelected()"
            [indeterminate]="selectedRows.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selectedRows.toggle(row) : null"
            [checked]="selectedRows.isSelected(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="routeName">
        <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
          {{ "Route Name" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.routeName }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
          {{ "Description" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.description }}</td>
      </ng-container>

      <ng-container matColumnDef="departureTime">
        <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
          {{ "Departure Time" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.departureTime }}</td>
      </ng-container>

      <ng-container matColumnDef="statusName">
        <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
          {{ "Status" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.statusName }}</td>
      </ng-container>

      <ng-container matColumnDef="currentLocation">
        <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
          {{ "Current Location" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.currentLocation }}</td>
      </ng-container>

      <ng-container matColumnDef="finishTime">
        <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
          {{ "Finish Time" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.finishTime }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
          {{ "Actions" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">
          <a
            class="m-r-10 cursor-pointer"
            matTooltip="{{ 'View' | translate }}"
            (click)="viewBusRoutes(row.busRouteId)"
          >
            <i-tabler name="eye" class="icon-18"></i-tabler>
          </a>
          <a
            (click)="editBusRoutes(row.busRouteId)"
            class="m-r-10 cursor-pointer"
            matTooltip="{{ 'Edit' | translate }}"
          >
            <i-tabler name="edit" class="icon-18"></i-tabler>
          </a>
          <a
            (click)="deleteBusRoute(row.busRouteId)"
            class="m-r-10 cursor-pointer"
            matTooltip="{{ 'Delete' | translate }}"
          >
            <i-tabler name="trash" class="icon-18"></i-tabler>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">{{ "No Data Found" | translate }}</td>
      </tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</mat-card>
