<mat-card *ngFor="let parent of parentData" class="parent-card">
  <mat-card-title>Parent Details</mat-card-title>
  <mat-divider></mat-divider>

  <div class="parent-details">

      <div class="parent-item">
        <strong>Country Code:</strong> {{ parent.countryCode }}
      </div>
      <div class="parent-item">
        <strong>First Name:</strong> {{ parent.firstName }}
      </div>
      <div class="parent-item">
        <strong>Last Name:</strong> {{ parent.lastName }}
      </div>
      <div class="parent-item">
        <strong>Home Phone:</strong> {{ parent.homePhone }}
      </div>
      <div class="parent-item">
        <strong>Employer:</strong> {{ parent.employer }}
      </div>
      <div class="parent-item">
        <strong>Is Employed:</strong> {{ parent.isEmployed ? 'Yes' : 'No' }}
      </div>
      <div class="parent-item">
        <strong>Is Active:</strong> {{ parent.isActive ? 'Yes' : 'No' }}
      </div>
      <div class="parent-item">
        <strong>Employer Number:</strong> {{ parent.employerNumber }}
      </div>
      <div class="parent-item">
        <strong>Employer Address:</strong> {{ parent.employerAddress }}
      </div>
      <div class="parent-item">
        <strong>Emergency Contact:</strong> {{ parent.emergencyContact }}
      </div>
    <div class="parent-row">
      <div class="parent-item">
        <strong>Salary:</strong> {{ parent.salary | currency }}
      </div>
    </div>
  </div>
</mat-card>
