
<div *ngIf="isLoading" class="loading-spinner-overlay">
  <mat-spinner></mat-spinner>
</div>
  <mat-card-content>
    <div class="container">
      <div class="row p-y-15">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <span class="f-w-600 f-s-15 mat-body-1"> Employee Type: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{ employeeData?.employeeTypeText || 'N/A' }}
          </h6>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 text-right">
          <span class="f-w-600 f-s-15 mat-body-1"> First Name: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{ employeeData?.firstName || 'N/A' }}
          </h6>
        </div>
      </div>
      <div class="row p-y-15">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <span class="f-w-600 f-s-15 mat-body-1">Middle Name: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{ employeeData?.middleName || 'N/A' }}

          </h6>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 text-right">
          <span class="f-w-600 f-s-15 mat-body-1"> Last Name: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{ employeeData?.lastName || 'N/A' }}
          </h6>
        </div>
      </div>
      <div class="row p-y-15">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <span class="f-w-600 f-s-15 mat-body-1">Grand Parent Name: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{ employeeData?.grandParentName || 'N/A' }}
          </h6>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 text-right">
          <span class="f-w-600 f-s-15 mat-body-1">Date of Birth: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{ employeeData?.dateOfBirth || 'N/A'}}
          </h6>
        </div>
      </div>
      <div class="row p-y-15">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <span class="f-w-600 f-s-15 mat-body-1">Gender: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{ employeeData?.genderText  || 'N/A'}}
          </h6>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 text-right">
          <span class="f-w-600 f-s-15 mat-body-1">Marital Status: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{ employeeData?.maritalStatusText || 'N/A'}}
          </h6>
        </div>
      </div>
      <div class="row p-y-15">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <span class="f-w-600 f-s-15 mat-body-1">Country Code: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{ employeeData?.countryCode  || 'N/A'}}
          </h6>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 text-right">
          <span class="f-w-600 f-s-15 mat-body-1">Phone Number: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{ employeeData?.phoneNumber  || 'N/A'}}
          </h6>
        </div>
      </div>
      <div class="row p-y-15">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <span class="f-w-600 f-s-15 mat-body-1">Highest Education: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{ employeeData?.heighestEducation  || 'N/A'}}
          </h6>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 text-right">
          <span class="f-w-600 f-s-15 mat-body-1">GPA: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{ employeeData?.gpa || 'N/A'}}
          </h6>
        </div>
      </div>
      <div class="row p-y-15">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <span class="f-w-600 f-s-15 mat-body-1">Years of Experience: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{ employeeData?.yearsOfExperience || 'N/A' }}
          </h6>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 text-right">
          <span class="f-w-600 f-s-15 mat-body-1">Specialty: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{ employeeData?.specialty || 'N/A'}}
          </h6>
        </div>
      </div>
      <div class="row p-y-15">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <span class="f-w-600 f-s-15 mat-body-1">Children Count: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{ employeeData?.childrenCount || 'N/A' }}
          </h6>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 text-right">
          <span class="f-w-600 f-s-15 mat-body-1">Monthly Salary: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{ employeeData?.monthlySalary || 'N/A'}}
          </h6>
        </div>
      </div>
      <div class="row p-y-15">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <span class="f-w-600 f-s-15 mat-body-1">Sick Days: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{ employeeData?.sickDays || 'N/A'  }}
          </h6>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 text-right">
          <span class="f-w-600 f-s-15 mat-body-1">Sick Days Available: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{ employeeData?.sickDaysAvailable || 'N/A' }}
          </h6>
        </div>
      </div>
      <div class="row p-y-15">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <span class="f-w-600 f-s-15 mat-body-1">Holiday Days: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{ employeeData?.holidayDays || 'N/A' }}
          </h6>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 text-right">
          <span class="f-w-600 f-s-15 mat-body-1">Holiday Days Available: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{ employeeData?.holidayDaysAvailable || 'N/A' }}
          </h6>
        </div>
      </div>
      <div class="row p-y-15">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <span class="f-w-600 f-s-15 mat-body-1">Place of Birth: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{ employeeData?.placeOfBirth || 'N/A' }}
          </h6>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 text-right">
          <span class="f-w-600 f-s-15 mat-body-1">Social Security: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{ employeeData?.socialSeucirty || 'N/A'}}
          </h6>
        </div>
      </div>
      <div class="row p-y-15">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <span class="f-w-600 f-s-15 mat-body-1">Identification Type: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{ employeeData?.identificationTypeText  || 'N/A'}}
          </h6>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 text-right">
          <span class="f-w-600 f-s-15 mat-body-1">Identification Number: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{ employeeData?.identificationNumber || 'N/A'}}
          </h6>
        </div>
      </div>
      <div class="row p-y-15">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <span class="f-w-600 f-s-15 mat-body-1">Religion: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{ employeeData?.religionText || 'N/A' }}
          </h6>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 text-right">
          <span class="f-w-600 f-s-15 mat-body-1">Mother's Name: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{ employeeData?.motherName || 'N/A'}}
          </h6>
        </div>
      </div>
      <div class="row p-y-15">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <span class="f-w-600 f-s-15 mat-body-1">Notes: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{ employeeData?.notes  || 'N/A'}}
          </h6>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 text-right">
          <span class="f-w-600 f-s-15 mat-body-1">Email: </span>
          <h6 class="m-t-5 m-b-0 f-w-500 f-s-14 mat-body-2">
            {{ employeeData?.email || 'N/A'}}
          </h6>
        </div>
      </div>       
    </div>
  </mat-card-content>


