<div class="table-responsive">
  <table mat-table [dataSource]="dataSource" class="w-100">
    <!-- Attendance Date Column -->
    <ng-container matColumnDef="attendanceForDay">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="f-w-600 mat-subtitle-1 f-s-14"
      >
        Attendance Date
      </th>
      <td mat-cell *matCellDef="let element" class="mat-body-1">
        {{ element.attendanceForDay | date : "yyyy-MM-dd" }}
      </td>
    </ng-container>

    <!-- Student Name Column -->
    <ng-container matColumnDef="studentName">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="f-w-600 mat-subtitle-1 f-s-14"
      >
        Student Name
      </th>
      <td mat-cell *matCellDef="let element" class="mat-body-1">
        {{ element.studentPerson.firstName }}
        {{ element.studentPerson.lastName }}
      </td>
    </ng-container>

    <!-- Attendance Status Column -->
    <ng-container matColumnDef="attendanceStatus">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="f-w-600 mat-subtitle-1 f-s-14"
      >
        Attendance Status
      </th>
      <td mat-cell *matCellDef="let element" class="mat-body-1">
        <ng-container [ngSwitch]="element.attendanceStatus">
          <span *ngSwitchCase="1" class="text-success">Present</span>
          <span *ngSwitchCase="0" class="text-error">Absent</span>
          <span *ngSwitchCase="2" class="text-warning">Late</span>
          <span *ngSwitchDefault class="text-muted">Unknown</span>
        </ng-container>
      </td>
    </ng-container>

    <!-- Comments Column -->
    <ng-container matColumnDef="comments">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="f-w-600 mat-subtitle-1 f-s-14"
      >
        Comments
      </th>
      <td mat-cell *matCellDef="let element" class="mat-body-1">
        {{ element.comments || "No comments" }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [length]="totalLength"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25]"
    (page)="onPaginate($event)"
  ></mat-paginator>
</div>
