<div class="exam-view-card">
  <!-- Close Button -->
  <button mat-button (click)="close()" class="close-button">Close</button>

  <!-- Exam Header -->
  <div class="exam-header">
    <h2>{{ exam.title }}</h2>
    <p class="description">{{ exam.description }}</p>
    <p class="details">
      <strong>Due Date:</strong> {{ exam.dueDate | date }} <br />
      <strong>Total Points:</strong> {{ exam.maxScore }}
    </p>
  </div>
  <!-- Exam Questions -->
  <div class="questions-section">
    <h3>Questions</h3>
    <div
      *ngFor="let question of exam.questions; let i = index"
      class="question-card"
    >
      <div class="question-number">Question {{ i + 1 }}</div>
      <div class="question-text">{{ question.questionText }}</div>

      <!-- Options for Multiple Choice -->
      <div *ngIf="question.questionType === 'multiple-choice'" class="options">
        <div
          *ngFor="let choice of question.choices | json as options"
          class="option"
        >
          <input type="radio" name="question{{ i }}" /> {{ choice }}
        </div>
      </div>

      <!-- Input for Short Answer -->
      <div
        *ngIf="question.questionType === 'short-answer'"
        class="answer-input"
      >
        <input type="text" placeholder="Your answer here..." />
      </div>

      <!-- Hint for the Question -->
      <div *ngIf="question.hint" class="hint">Hint: {{ question.hint }}</div>
    </div>
  </div>
</div>
