/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.rormFieldMArginRight
{
  margin-right: 6px;;
}

.mat-form-field.mat-form-field-invalid .mat-mdc-text-field-wrapper {
  will-change: unset !important;
}
.formInputHeight
{
  height: 25px !important;
}

/* Style for the table header */
.striped-table thead {
  background-color: #e0e0e0 !important; /* Light gray background for the header */
  color: #333 !important; /* Dark text for contrast */
}

.striped-table tbody tr:nth-child(even) {
  background-color: #f5f5f5 !important;
}

.striped-table tbody tr:nth-child(odd) {
  background-color: #ffffff !important;
}



/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';





