<div class="learning-nav nav-container">
  <header class="top-nav">
    <!-- Impersonation Dropdown for Admin/Super Admin -->
    <div *ngIf="isAdminOrSuperAdmin" class="impersonation-dropdown">
      <mat-form-field  appearance="outline" >
        <mat-label>{{ "Impersonated Faculty" | translate }}</mat-label>
        <mat-select
          *ngIf="isAdminOrSuperAdmin"
          [(value)]="selectedFaculty"
          (selectionChange)="onFacultySelect($event.value)"
        >
          <option>{{ "Select Impersonated Faculty" | translate }}</option>
          <mat-option
            *ngFor="let faculty of facultyList"
            [value]="faculty.employeeId"
          >
            {{ faculty.employeeName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </header>

  <div>
    <h6 *ngIf="!subjects || subjects.length === 0">
      {{ "No classes available!" | translate }}
    </h6>
    <h6 *ngIf="subjects && subjects.length > 0">
      {{ "Classes & Subjects" | translate }}
    </h6>
    <!-- Loop through subjects to create navigation items -->
    <ul class="subject-list adjusted-size">
      <li *ngFor="let subject of subjects" class="subject-item">
        <strong>{{ subject.className }} - {{ subject.subjectName }}</strong>
        <mat-nav-list class="sidebar-list">
          <li class="d-flex">
            <a
              mat-list-item
              class="cursor-pointer menuLink"
              [class.activeMenu]="
                isActive([
                  '/learning/class',
                  subject.classId,
                  'subject',
                  subject.subjectId,
                  'assignments'
                ])
              "
              [routerLink]="[
                '/learning/class',
                subject.classId,
                'subject',
                subject.subjectId,
                'assignments'
              ]"
            >
              <span
                class="iconify routeIcon sub-item-icon"
                matListItemIcon
                [attr.data-icon]="'mdi:clipboard-list-outline'"
              ></span>
              <span
                [class.white-text]="
                  isActive([
                    '/learning/class',
                    subject.classId,
                    'subject',
                    subject.subjectId,
                    'assignments'
                  ])
                "
              >
                {{ "Assignments" | translate }}
              </span>
            </a>
          </li>
          <li class="d-flex">
            <a
              mat-list-item
              class="cursor-pointer menuLink"
              [class.activeMenu]="
                isActive([
                  '/learning/class',
                  subject.classId,
                  'subject',
                  subject.subjectId,
                  'gradebook'
                ])
              "
              [routerLink]="[
                '/learning/class',
                subject.classId,
                'subject',
                subject.subjectId,
                'gradebook'
              ]"
            >
              <span
                class="iconify routeIcon sub-item-icon"
                matListItemIcon
                [attr.data-icon]="'mdi:book-outline'"
              ></span>
              <span
                [class.white-text]="
                  isActive([
                    '/learning/class',
                    subject.classId,
                    'subject',
                    subject.subjectId,
                    'gradebook'
                  ])
                "
              >
                {{ "Gradebook" | translate }}
              </span>
            </a>
          </li>
          <li class="d-flex">
            <a
              mat-list-item
              class="cursor-pointer menuLink"
              [class.activeMenu]="
                isActive([
                  '/learning/class',
                  subject.classId,
                  'subject',
                  subject.subjectId,
                  'studentBehaviour'
                ])
              "
              [routerLink]="[
                '/learning/class',
                subject.classId,
                'subject',
                subject.subjectId,
                'studentBehaviour'
              ]"
            >
              <span
                class="iconify routeIcon sub-item-icon"
                matListItemIcon
                [attr.data-icon]="'mdi:book-outline'"
              ></span>
              <span
                [class.white-text]="
                  isActive([
                    '/learning/class',
                    subject.classId,
                    'subject',
                    subject.subjectId,
                    'studentBehaviour'
                  ])
                "
              >
                {{ "studentBehaviour" | translate }}
              </span>
            </a>
          </li>
          <li class="d-flex">
            <a
              mat-list-item
              class="cursor-pointer menuLink"
              [class.activeMenu]="
                isActive([
                  '/learning/class',
                  subject.classId,
                  'subject',
                  subject.subjectId,
                  'projects'
                ])
              "
              [routerLink]="[
                '/learning/class',
                subject.classId,
                'subject',
                subject.subjectId,
                'projects'
              ]"
            >
              <span
                class="iconify routeIcon sub-item-icon"
                matListItemIcon
                [attr.data-icon]="'mdi:folder-outline'"
              ></span>
              <span
                [class.white-text]="
                  isActive([
                    '/learning/class',
                    subject.classId,
                    'subject',
                    subject.subjectId,
                    'projects'
                  ])
                "
              >
                {{ "Projects" | translate }}
              </span>
            </a>
          </li>
          <li class="d-flex">
            <a
              mat-list-item
              class="cursor-pointer menuLink"
              [class.activeMenu]="
                isActive([
                  '/learning/class',
                  subject.classId,
                  'subject',
                  subject.subjectId,
                  'exams'
                ])
              "
              [routerLink]="[
                '/learning/class',
                subject.classId,
                'subject',
                subject.subjectId,
                'exams'
              ]"
            >
              <span
                class="iconify routeIcon sub-item-icon"
                matListItemIcon
                [attr.data-icon]="'mdi:calendar-check-outline'"
              ></span>
              <span
                [class.white-text]="
                  isActive([
                    '/learning/class',
                    subject.classId,
                    'subject',
                    subject.subjectId,
                    'exams'
                  ])
                "
              >
                {{ "Exams" | translate }}
              </span>
            </a>
          </li>
          <li class="d-flex">
            <a
              mat-list-item
              class="cursor-pointer menuLink"
              [class.activeMenu]="
                isActive([
                  '/learning/class',
                  subject.classId,
                  'subject',
                  subject.subjectId,
                  'participation'
                ])
              "
              [routerLink]="[
                '/learning/class',
                subject.classId,
                'subject',
                subject.subjectId,
                'participation'
              ]"
            >
              <span
                class="iconify routeIcon sub-item-icon"
                matListItemIcon
                [attr.data-icon]="'mdi:account-group-outline'"
              ></span>
              <span
                [class.white-text]="
                  isActive([
                    '/learning/class',
                    subject.classId,
                    'subject',
                    subject.subjectId,
                    'participation'
                  ])
                "
              >
                {{ "Participation" | translate }}
              </span>
            </a>
          </li>
          <li *ngIf="subject.isPrimary || isAdminOrSuperAdmin" class="d-flex">
            <a
              mat-list-item
              class="cursor-pointer menuLink"
              [class.activeMenu]="
                isActive([
                  '/learning/class',
                  subject.classId,
                  'subject',
                  subject.subjectId,
                  'attendance'
                ])
              "
              [routerLink]="[
                '/learning/class',
                subject.classId,
                'subject',
                subject.subjectId,
                'attendance'
              ]"
            >
              <span
                class="iconify routeIcon sub-item-icon"
                matListItemIcon
                [attr.data-icon]="'mdi:check-circle-outline'"
              ></span>
              <span
                [class.white-text]="
                  isActive([
                    '/learning/class',
                    subject.classId,
                    'subject',
                    subject.subjectId,
                    'attendance'
                  ])
                "
              >
                {{ "Attendance" | translate }}
              </span>
            </a>
          </li>
        </mat-nav-list>
      </li>
    </ul>
  </div>
</div>
<div class="learning-management">
  <!-- Top Navigation Bar -->
  <div class="main-content">
    <p *ngIf="!subjects || subjects.length === 0">
      {{ "Faculty has not been assigned subjects." | translate }} <br />
      {{
        "You can associate subjects to faculty members by going to Classroom > Manage Subjects."
          | translate
      }}
    </p>
    <router-outlet></router-outlet>
  </div>
</div>
