<nav>
  <ul>
    <div class="d-flex align-items-center">
      <img class="logo" src="assets/LogoWithBrand/PurpleNoBrand.png" />
      <h5 class="ms-1">Bright</h5>
      <h5 style="color: #2767a7">Board</h5>
    </div>
    <li *ngFor="let navItem of source$ | async">
      <button
        *ngIf="!navItem.children"
        routerLinkActive="navigation-active"
        [routerLink]="[navItem.route]"
        class="app-nav-link"
        tabindex="-1"
      >
        <mat-icon class="icon">{{ navItem.icon }}</mat-icon>
        <span class="app-nav-text">{{ navItem.name }}</span>
      </button>
    </li>
    <li class="flex-fill"></li>
    <li>
      <div class="profile-details">
        <div class="profile-content" (click)="toggleDropdown()">
          <img
            [src]="
              profilePicture === '' ? 'assets/profile.jpg' : profilePicture
            "
            alt="profileImg"
          />

          <!-- Custom dropdown -->
          <div *ngIf="isDropdownOpen" class="dropdown-menu">
            <button (click)="navigateTo('settings')">Settings</button>
            <button (click)="navigateTo('notifications')">Notifications</button>
            <button (click)="navigateTo('privacy')">Privacy</button>
            <button (click)="navigateTo('editPassword')">Edit Password</button>
            <button (click)="logout()">Logout</button>
          </div>
        </div>
        <div class="d-flex flex-column">
          <div class="profile_name">{{ firstName }} {{ lastName }}</div>
          <div class="job">{{ roles[0] }}</div>
        </div>
        <div class="flex-fill"></div>
        <button
          class="action-icon logout"
          matTooltip="Sign Out"
          (click)="logout()"
        >
          <i class="fa-solid fa-power-off"></i>
        </button>
      </div>
    </li>
  </ul>
</nav>
