<div *ngIf="isLoading" class="loading-spinner-overlay">
  <mat-spinner></mat-spinner>
</div>
<form [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="mt-3">
  <div style="display: flex; align-items: center; gap: 16px" *ngIf="!isEdit">
    <div class="inline-form-field me-3" style="margin-bottom: 15px">
      <mat-slide-toggle
        formControlName="hasAlreadyAccount"
        (change)="onToggleAlreadyAccount($event.checked)"
      >
        {{ "Already Have an Account?" | translate }}
      </mat-slide-toggle>
    </div>

    <div *ngIf="HasAlreadyAccount" class="inline-form-field me-3">
      <mat-form-field appearance="outline">
        <mat-label>{{ "Select Account" | translate }}</mat-label>
        <mat-select
          formControlName="accountId"
          placeholder="{{ 'Select Account' | translate }}"
          (selectionChange)="onAccountSelected($event)"
          panelClass="custom-select-panel"
        >
          <div class="search-input-container">
            <input
              matInput
              (input)="onSearchChange($event)"
              placeholder="{{ 'Search account...' | translate }}"
              (focus)="$event.stopPropagation()"
            />
          </div>
          <mat-option
            *ngFor="let account of filteredAccounts"
            [value]="account.accountId"
          >
            {{ account.parentFullName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-4 col-lg-4 col-mg-4 col-sm-4 col-12">
      <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
        <mat-label>{{ "Grade" | translate }}</mat-label>
        <mat-select formControlName="gradeId" required>
          <mat-option
            *ngFor="let grade of classrooms"
            [value]="grade.classRoomId"
          >
            {{ grade.classroomName }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="studentForm.get('gradeId')?.hasError('required')">
          {{ "Grade is required" | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-xl-4 col-lg-4 col-mg-4 col-sm-4 col-12">
      <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
        <mat-label>{{ "First Name" | translate }}</mat-label>
        <input
          matInput
          formControlName="firstName"
          placeholder="{{ 'Enter first name' | translate }}"
          required
          class="formInputHeight"
        />
        <mat-error
          *ngIf="
            studentForm.controls['firstName'].touched &&
            !studentForm.controls['firstName'].valid
          "
        >
          <ng-container *ngFor="let validation of validationMessages.name">
            <span
              class="form-control-feedback"
              *ngIf="
                studentForm.controls['firstName'].hasError(validation.type)
              "
            >
              {{ validation.message | translate }}
            </span>
          </ng-container>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-xl-4 col-lg-4 col-mg-4 col-sm-4 col-12">
      <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
        <mat-label>{{ "Middle Name" | translate }}</mat-label>
        <input
          matInput
          formControlName="middleName"
          placeholder="{{ 'Enter middle name' | translate }}"
          class="formInputHeight"
        />
        <mat-error
          *ngIf="
            studentForm.controls['middleName'].touched &&
            !studentForm.controls['middleName'].valid
          "
        >
          <ng-container *ngFor="let validation of validationMessages.name">
            <span
              class="form-control-feedback"
              *ngIf="
                studentForm.controls['middleName'].hasError(validation.type)
              "
            >
              {{ validation.message | translate }}
            </span>
          </ng-container>
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-4 col-lg-4 col-mg-4 col-sm-4 col-12">
      <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
        <mat-label>{{ "Grand Parent Name" | translate }}</mat-label>
        <input
          matInput
          formControlName="grandParentName"
          placeholder="{{ 'Enter grandparent name' | translate }}"
        />
        <mat-error
          *ngIf="
            studentForm.controls['grandParentName'].touched &&
            !studentForm.controls['grandParentName'].valid
          "
        >
          <ng-container *ngFor="let validation of validationMessages.name">
            <span
              class="form-control-feedback"
              *ngIf="
                studentForm.controls['grandParentName'].hasError(
                  validation.type
                )
              "
            >
              {{ validation.message | translate }}
            </span>
          </ng-container>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-xl-4 col-lg-4 col-mg-4 col-sm-4 col-12">
      <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
        <mat-label>{{ "Last Name" | translate }}</mat-label>
        <input
          matInput
          formControlName="lastName"
          placeholder="{{ 'Enter last name' | translate }}"
          required
        />
        <mat-error
          *ngIf="
            studentForm.controls['lastName'].touched &&
            !studentForm.controls['lastName'].valid
          "
        >
          <ng-container *ngFor="let validation of validationMessages.name">
            <span
              class="form-control-feedback"
              *ngIf="studentForm.controls['lastName'].hasError(validation.type)"
            >
              {{ validation.message | translate }}
            </span>
          </ng-container>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-xl-4 col-lg-4 col-mg-4 col-sm-4 col-12">
      <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
        <mat-label>{{ "Date of Birth" | translate }}</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="dateOfBirth"
          [max]="maxDate"
          placeholder="{{ 'Select date of birth' | translate }}"
          required
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="studentForm.get('dateOfBirth')?.invalid">
          {{ "Date of birth is required" | translate }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-4 col-lg-4 col-mg-4 col-sm-4 col-12">
      <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
        <mat-label>{{ "Social Security" | translate }}</mat-label>
        <input
          matInput
          formControlName="socialSeucirty"
          placeholder="{{ 'Enter social security number' | translate }}"
        />
      </mat-form-field>
    </div>

    <div class="col-xl-4 col-lg-4 col-mg-4 col-sm-4 col-12">
      <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
        <mat-label>{{ "Identification Type" | translate }}</mat-label>
        <mat-select
          formControlName="identificationType"
          placeholder="{{ 'Select Identification Type' | translate }}"
        >
          <mat-option
            *ngFor="let type of appresourceIdentificationType"
            [value]="type.resourceId"
          >
            {{ type.resourceKey }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-xl-4 col-lg-4 col-mg-4 col-sm-4 col-12">
      <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
        <mat-label>{{ "Identification Number" | translate }}</mat-label>
        <input
          matInput
          formControlName="identificationNumber"
          placeholder="{{ 'Enter identification number' | translate }}"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-4 col-lg-4 col-mg-4 col-sm-4 col-12">
      <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
        <mat-label>{{ "Mother Name" | translate }}</mat-label>
        <input
          matInput
          formControlName="motherName"
          placeholder="{{ 'Enter mother name' | translate }}"
        />
      </mat-form-field>
    </div>

    <div class="col-xl-4 col-lg-4 col-mg-4 col-sm-4 col-12">
      <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
        <mat-label>{{ "Marital Status" | translate }}</mat-label>
        <mat-select
          formControlName="maritalStatus"
          placeholder="{{ 'Select Marital Status' | translate }}"
        >
          <mat-option
            *ngFor="let marital of appresourceMarital"
            [value]="marital.resourceId"
          >
            {{ marital.resourceKey }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-xl-4 col-lg-4 col-mg-4 col-sm-4 col-12">
      <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
        <mat-label>{{ "Religion" | translate }}</mat-label>
        <mat-select
          formControlName="religion"
          placeholder="{{ 'Select Religion' | translate }}"
        >
          <mat-option
            *ngFor="let religion of appresourceReligion"
            [value]="religion.resourceId"
          >
            {{ religion.resourceKey }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6 col-lg-6 col-mg-6 col-sm-6 col-12">
      <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
        <mat-label>{{ "Country Code" | translate }}</mat-label>
        <mat-select
          formControlName="countryCode"
          [(value)]="selectedCountryCode"
          placeholder="{{ 'Select Country Code' | translate }}"
        >
          <mat-option
            *ngFor="let country of countryCodes"
            [value]="country.code"
          >
            {{ country.name }} ({{ country.code }})
          </mat-option>
        </mat-select>
        <mat-error *ngIf="studentForm.get('countryCode')?.invalid">
          {{ "Country code is required." | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-xl-6 col-lg-6 col-mg-6 col-sm-6 col-12">
      <mat-form-field appearance="outline" class="me-3">
        <mat-label>{{ "Phone Number" | translate }}</mat-label>
        <input
          matInput
          formControlName="phoneNumber"
          placeholder="{{ 'Enter Phone Number' | translate }}"
          class="formInputHeight"
          required
        />
        <mat-error *ngIf="studentForm.get('phoneNumber')?.invalid">
          {{ "Phone number is required." | translate }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-3 col-lg-3 col-mg-3 col-sm-3 col-12">
      <mat-checkbox
        formControlName="isActive"
        color="primary"
        class="checkbox-inline rormFieldMArginRight"
      >
        {{ "Is Active" | translate }}
      </mat-checkbox>
    </div>

    <div class="col-xl-3 col-lg-3 col-mg-3 col-sm-3 col-12">
      <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
        <mat-label>{{ "Place of Birth" | translate }}</mat-label>
        <input
          matInput
          formControlName="placeOfBirth"
          placeholder="{{ 'Enter place of birth' | translate }}"
        />
      </mat-form-field>
    </div>

    <div class="col-xl-3 col-lg-3 col-mg-3 col-sm-3 col-12">
      <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
        <mat-label>{{ "Citizenship" | translate }}</mat-label>
        <input
          matInput
          formControlName="citizenShip"
          placeholder="{{ 'Enter citizenship' | translate }}"
        />
      </mat-form-field>
    </div>

    <div class="col-xl-3 col-lg-3 col-mg-3 col-sm-3 col-12">
      <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
        <mat-label>{{ "Gender" | translate }}</mat-label>
        <mat-select
          formControlName="gender"
          placeholder="{{ 'Select Gender' | translate }}"
        >
          <mat-option
            *ngFor="let gender of appresourceGender"
            [value]="gender.resourceId"
          >
            {{ gender.resourceKey }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <mat-form-field appearance="outline" class="me-3 rormFieldMArginRight">
      <mat-label>{{ "Notes" | translate }}</mat-label>
      <textarea
        matInput
        formControlName="notes"
        placeholder="{{ 'Enter notes' | translate }}"
        rows="3"
      ></textarea>
    </mat-form-field>
  </div>
</form>
