<div class="row">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" role="form">
        <div (click)="isCollapsed = !isCollapsed" class="filter-header p-2">
            <span class="filter-title"><i class="fa fa-search me-2"></i>Advanced Search Filters</span>
            <a [attr.aria-expanded]="!isCollapsed" aria-controls="collapseFilter" style="float:right">
                <i class="fa fa-search" [ngClass]="{'fa-chevron-down': !isCollapsed, 'fa-chevron-up': isCollapsed}"></i>
            </a>
        </div>
        <div id="collapseFilter" [ngbCollapse]="!isCollapsed">
            <div class="filter-content">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                        <div class="form-group">
                            <label>Medicine Name:</label>
                            <input type="text" class="form-control " formControlName="medicineName" placeholder="Search">
                            <div *ngIf="form.controls['medicineName'].touched && !form.controls['medicineName'].valid">
                                <div *ngFor="let validation of validationMessages.value" class="has-danger">
                                    <span class="form-control-feedback"
                                        *ngIf="form.controls['medicineName'].hasError(validation.type) ">
                                        {{validation.message}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="form-group mb-0 d-flex align-items-center ">
                            <button class="mb-2 me-2 btn-icon btn-shadow  btn btn-primary"
                                [ngClass]="{'m-loader m-loader--right m-loader--info': loading}" type="submit"
                                [disabled]="!form.valid">
                                <i class="fa fa-search"></i> Search
                            </button>
                            <button class="mb-2 mr-2 btn-icon btn-shadow  btn btn-outline-danger" type="reset"
                                (click)="resetTable()">
                                <i class="fa fa-close"></i> Reset
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row mb-2">
    <div class="col-sm-12 " style="margin-top: 10px;">
        <button class="btn-icon-only btn-shadow btn btn-primary float-end" (click)="AddEdit()" title="Add New">
            <i class="fa fa-plus"></i> <span>Add New</span>
        </button>

    </div>
</div>

<div class=" material striped">
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <table class="striped-table" mat-table [dataSource]="dataSource" matSort (matSortChange)="onSort($event)" style=" max-width: 100%;
            width: 100%;">
        <div class="row">
            <!-- Hashing -->
            <ng-container matColumnDef="sn.">
                <th mat-header-cell *matHeaderCellDef> #. </th>
                <td mat-cell *matCellDef="let medicines">{{medicines.serialNo}}</td>
            </ng-container>
            <!-- Status Column -->
            <ng-container matColumnDef="status" prop="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let medicineType">
                    <mat-slide-toggle [disabled]="loading" [checked]="medicineType.status == 1"
                        (change)="updateStatus($event.checked, medicineType)">
                        <i class="fa fa-spinner fa-pulse" *ngIf="loading"></i>
                    </mat-slide-toggle>
                </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let medicines">
                    <!-- View Icon -->
                    <button mat-icon-button class="action-button" color="primary" (click)="ViewMedicines(medicines.id)" matTooltip="View">
                        <mat-icon>visibility</mat-icon> <!-- Eye icon -->
                    </button>

                    <!-- Manage Doctors (User) Icon -->
                    <button mat-icon-button color="primary" (click)="ManageMedicineDoctor(medicines.id)"
                        matTooltip="Manage Doctors">
                        <mat-icon>person</mat-icon> <!-- User icon -->
                    </button>

                    <!-- Edit Icon (Only visible if medicines.status == 1) -->
                    <button mat-icon-button color="primary" *ngIf="medicines.status == 1"
                        (click)="AddEdit(medicines.id)" matTooltip="Edit">
                        <mat-icon>edit</mat-icon> <!-- Edit icon -->
                    </button>

                </td>
            </ng-container>
            <!-- type Column -->
            <ng-container matColumnDef="doctorName">
                <th mat-header-cell *matHeaderCellDef>Doctor</th>
                <td mat-cell *matCellDef="let medicines">{{ medicines.doctorName}}</td>
            </ng-container>
            <ng-container matColumnDef="medicineName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let medicines">{{ medicines.medicineName }}</td>
            </ng-container>
            <ng-container matColumnDef="medicineTypeName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                <td mat-cell *matCellDef="let medicines">{{ medicines.medicineTypeName }}</td>
            </ng-container>
            <!-- MG Column -->
            <ng-container matColumnDef="medicineTypePotencyName">
                <th mat-header-cell *matHeaderCellDef> Potency</th>
                <td mat-cell *matCellDef="let medicines">
                    {{ medicines.medicineTypePotencyName}}
                </td>
            </ng-container>
            <ng-container matColumnDef="expiryDate">
                <th mat-header-cell *matHeaderCellDef>Exp-Date(YY-MM-DD)</th>
                <td mat-cell *matCellDef="let medicines">
                    <span [ngStyle]="{ color: isExpiringSoon(medicines.expiryDate) ? 'red' : 'black' }">
                        {{ medicines.expiryDate | date: 'yyyy-MM-dd' }}
                    </span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let medicineType; columns: displayedColumns;"></tr>
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td style="text-align: center;" class="mat-cell" [attr.colspan]="displayedColumns.length">
                    No data found.
                </td>
            </tr>
        </div>
    </table>
    <mat-paginator [length]="count" (page)="onPaginate($event)" [pageSize]="tableParams.limit" showFirstLastButtons
        [pageSizeOptions]="[5,10,25,50, 100]"></mat-paginator>
</div>